h2{
    font-size: 24px;
    color: #4d3522;
    padding-bottom: 15px;
    margin-bottom: 35px;
    margin-top: 10px;
    @extend %bruskovaya;
    font-size: 32px;

    &.bordered{
        border-bottom: 1px solid #a19286;
    }
    &.has_content{
        position: relative;
    }
}