/**
 * @see http://stackoverflow.com/questions/12434416/overflowhidden-on-body-is-broken-in-ios6/18395346#18395346
 */

html{
    /*overflow-x: hidden; */
    width: 100%;
}

h1{
    @extend %bruskovaya;
    font-size: 42px;
    color: $header-color;
    padding-bottom: 10px;
    padding-top: 5px;
}

h2{
    color: #4d3522;
    padding-bottom: 15px;
    margin-bottom: 36px;
    margin-top: 10px;
    @extend %bruskovaya;
    font-size: 32px;

    &.bordered{
        border-bottom: 1px solid #a19286;
    }
    &.has_content{
        position: relative;
    }
}
a:hover{
    color: $link-hover-color;
}
.double-border{
    border: 1px solid #b4a599;
    padding: 1px;
    background: #fff;
    @include border-radius(2px);
}