#layout {
  width: 100%;
  max-width: 2000px;
  min-width: 980px;
  height: 3750px;
  position: relative;
  @extend %MuseoCyrl500;

  @include background(
    image-url("cloud.png"),
    image-url("cloud.png"),
    image-url("towers.png"),
    image-url("sky.png"),
    image-url("bg.png"),
    linear-gradient(to right, #94694f 0%,#ffdec2 44%,#ffdec2 56%,#94694f 100%)

  );

  background-position:
    50% 1000px,
    -50% 500px,
    center 105%,
    50% top,
    50% 600px,
    center top;
  background-repeat: no-repeat;

  #content{
      @include min-width($min-content-width);
      max-width: $max-content-width;
      margin: 0 auto;
      border: 1px solid transparent;
      position: relative;
  }

  .img{
    position: relative;
    left: 45%;
    top: 100px;
  }

  path{
    fill: none;
    stroke:red;
  }

  #bottom{
    width: 100%;
    height: 690px;
    position: absolute;
    bottom: 0;
    @include background(image-url("buddah.png") center bottom no-repeat);
    .footer-holder{
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        overflow: hidden;
        .footer-shape{
            max-width: 1128px;
            /*@include min-width(940px); */
            margin: 0 auto;
            position: relative;
            top: 32px;
            height: 71px;
            .c{
                height: 54px;
                font-size: 11px;
                color: #695a4e;
            }
            .footer-left-block{
                float: left;
                span{
                    @extend %bruskovaya;
                    font-size: 22px;
                    color: #4d3522;
                    line-height: 1.5em;
                }
            }
            .footer-right-block{
                float: right;
                padding-top: 10px;
                img:first-child{
                    vertical-align: sub;
                }
            }
        }
    }
  }
}