$shape_size: 36px;


@include all-sprite-shape-horizontal-sprites;
@include all-sprite-shape-vertical-sprites;
.shape {
    position: relative;
    padding: $shape_size $shape_size;
    width: auto;

    .c {
        padding: 10px 10px;
        position: relative;
        margin: -2px;
    }

    .lt,
    .rt,
    .lb,
    .rb,
    .l,
    .r,
    .t,
    .b{
        position: absolute;
    }

    .lt,
    .lb,
    .l {
        left: 0px;
    }
    .rt,
    .rb,
    .r {
        right: 0px;
    }
    .lt,
    .rt,
    .t {
        top: 0;
    }
    .lb,
    .rb,
    .b {
        bottom: 0;
    }
    .lt {
        width: $shape_size;
        height: $shape_size;
    }
    .rt {
        width: $shape_size;
        height: $shape_size;

    }

    .rb {
        width: $shape_size;
        height: $shape_size;
    }
    .lb {
        width: $shape_size;
        height: $shape_size;
    }
    .l,
    .r {
        width: $shape_size;
        top: $shape_size;
        bottom: $shape_size;
        background-repeat: repeat-y;
    }

    .t,
    .b {
        height: $shape_size;
        left: $shape_size;
        right: $shape_size;
        background-repeat: repeat-x;
    }


    &.white-shape, &.pattern-shape, &.submenu-shape, &.filter-shape, &.popup-shape{
        .c {
            background: rgba(255,255,255, .8);
            height: 100%;
        }

        .lt {
            &.sprite-shape-vertical-white-corner-lt{

            }
        }

        .rt {
            @include transform(rotate(90deg));
            &.sprite-shape-vertical-white-corner-rt, &.sprite-shape-vertical-pattern-corner-rt-popup{
                @include transform(rotate(0deg));

            }
            &.sprite-shape-vertical-pattern-corner-message-lb-popup{
                @include transform(rotate(180deg));
            }
        }

        .rb {
            @include transform(rotate(180deg));
            &.sprite-shape-vertical-pattern-corner-rb-menu, &.sprite-shape-vertical-white-corner-rb, &.sprite-shape-vertical-pattern-corner-rb-filter, &.sprite-shape-vertical-pattern-corner-rb-popup,  &.sprite-shape-vertical-pattern-corner-rb-popup-w-footer{
                @include transform(rotate(0deg));
            }
        }

        .lb {

            @include transform(rotate(270deg));
            &.sprite-shape-vertical-pattern-corner-lb-partial-shade, &.sprite-shape-vertical-pattern-corner-lb-menu, &.sprite-shape-vertical-white-corner-lb, &.sprite-shape-vertical-pattern-corner-lb-filter, &.sprite-shape-vertical-pattern-corner-lb-popup, &.sprite-shape-vertical-pattern-corner-lb-popup-w-footer, &.sprite-shape-vertical-pattern-corner-message-lb-popup{
                @include transform(rotate(0deg));
            }
        }
        .l,
        .r {

        }
        .r{
            @include transform(rotate(180deg));
            &.sprite-shape-horizontal-pattern-right-no-shade, &.sprite-shape-horizontal-popup-right{
                @include transform(rotate(0deg));


            }
        }

        .t,
        .b {

        }
        .b{

            @include transform(rotate(180deg));
            &.sprite-shape-vertical-pattern-menu-top-bottom, &.sprite-shape-vertical-pattern-filter-top-bottom, &.sprite-shape-vertical-pattern-bottom-popup-w-footer{
                @include transform(rotate(0deg));

            }
        }
    }
    &.white-shape{
        .c{
            margin: 0;
        }
    }
}


.shape.pattern-shape{
    position: relative;
    float: left;

    .c{
        @include opacity(1);
        @include background(image-url("pattern-bg.png"));
    }
}

.shape.submenu-shape{
    width: auto;
    //left: 700px;
    .c{
        @include opacity(1);
        @include background(image-url("pattern-bg.png"));
    }
}
.shape.filter-shape{
    position: absolute;
    width: 655px;
    top: 6px;
    &.tea{
        left: -16px;
        display: block;
    }
    &.coffee{
        left:  -16px;;
        display: none;
    }
    &.posuda{
        left:  -16px;;
        display: none;
    }
    .c{
        background-color: #fefefc;
        @include min-height(9px);
        margin-bottom: 40px;

    }
}

.shape.popup-shape{
    .c{
        padding: 20px;
        background-color: #fefefc;
    }

    &.popup-message{
        .c{
            @include opacity(1);
            @include background(transparent image-url("pattern-bg.png"));
        }
    }
}

.shape.popup-shape-w-footer{
    .bottom-helper{
        position: absolute;
        background-color: #dbd6d0;
        height: 50px;
        bottom: 35px;
        left: 20px;
        right: 21px;
        z-index: 1;
    }
    .c{
        padding-bottom: 70px;
        position: relative;
    }
}

.shape.inner-shape{
    .c{
        padding: 0;
        background-color: #fff;
        overflow: hidden; /*for 2 columns layout inside*/
        margin-left: -16px;
    }
}

.shape{
    &.pattern-shape, &.popup-shape{
        .l{
            bottom: 35px;
            top: 35px;
        }
        .r{
            bottom: 35px;
            top: 35px;
        }
        .t{
            left: 35px;
            right: 35px;
        }
        .b{
            left: 35px;
            right: 35px;
        }
    }
}
.shape{
    &.inner-shape{
        margin-bottom: 100px;
    }
}

@media only screen and (device-width: 768px) {
/* For general iPad layouts */
    .shape.white-shape .c{
        margin: -1px;
    }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
    .shape.white-shape .c{
        margin: -1px;
    }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
    .shape.white-shape .c{
        margin: -1px;
    }

}

