@import "compass";
@import "compass/utilities/sprites";
@import "compass/css3/flexbox";
@import "compass/css3";
@import "compass/reset";
@import "compass/utilities/general/min";
@import "compass/css3/transform";
@import "compass/utilities/tables/borders";
@import "compass/utilities/tables/alternating-rows-and-columns";


$sprite-shape-horizontal-layout: 'horizontal';
$sprite-shape-vertical-layout: 'vertical';
$min-content-width: 980px;
$max-content-width: 1200px;
$max-inner-content-width: 1500px;
$inner-sidebar-width: 250px;
$cart-width: 204px;
$header-color: #4d3522;
$color-link-blue: #0d94cc;
$sprite-common-spacing: 15px;  //won't work
$sprite-shape-horizontal-spacing: 20px;
$sprite-shape-vertical-spacing: 5px;
$link-hover-color: #ff0000;


@import "sprites/sprite-shape-horizontal/*.png";
@import "sprites/sprite-shape-vertical/*.png";
@import "sprites/sprite-common/*.png";
@import "mixins/item-width-scalable";
@import "mixins/buttons";
@import "parallax";
@import "header/menu";
@import "shapes";
@import "ios_fixes";
@import "slider";
@import "content/static-content";
@import "content/news";
@import "content/goods";
@import "content/all-about";
@import "content/company";
@import "common";
@import "filter";
//@import "mixins/placeholder";
@import "jquery-ui-1.11.2-no-theme";
@import "forms";
@import "popup/common";
@import "popup/buttons";
@import "popup/ui-dialog-reset";
@import "select2";
@import "select2-custom";

//inner-page-layout
@import "inner_layout/common";
@import "inner_layout/header/basket";
@import "inner_layout/header/search";
@import "inner_layout/header/login";
@import "inner_layout/header/menu";
@import "inner_layout/content/breadcrump";
@import "inner_layout/content/view-togglers";
@import "inner_layout/content/sorting";
@import "inner_layout/content/items";
@import "inner_layout/content/left-menu";
@import "inner_layout/content/text-styles";
@import "inner_layout/content/right-sidebar";
@import "inner_layout/content/ui-tabs-theme";
@import "inner_layout/content/section_page/specific";
@import "inner_layout/content/item_page/specific";
@import "inner_layout/content/basket_page/specific";
@import "inner_layout/content/news/specific";
@import "inner_layout/content/retail_order_page/specific";
@import "nav";

@include font-face('BruskovayaPlain',
    font-files(
            'BRS75__W.woff', woff,
            'BRS75__W.ttf', ttf,
            'BRS75__W.svg', svg),
    'BRS75__W.eot');

@include font-face('MuseoCyrl_500',
    font-files(
            'museosanscyrl-300.woff', woff,
            'museosanscyrl-300.ttf', ttf,
            'museosanscyrl-300.svg', svg),
    'museosanscyrl-300.eot');

%bruskovaya {
    font-family: 'BruskovayaPlain';
}
%MuseoCyrl500 {
    font-family: 'MuseoCyrl_500';
}
%Arial {
    font-family: 'Arial';
}
%Tahoma {
    font-family: 'Tahoma';
}