@import "compass";
@import "compass/utilities/sprites";
//@import "compass/css3/flexbox";
@import "compass/css3";
@import "compass/reset";
@import "compass/utilities/general/min";
@import "compass/css3/transform";


$sprite-shape-horizontal-layout: 'horizontal';
$sprite-shape-vertical-layout: 'vertical';
$min-content-width: 980px;
$max-content-width: 1200px;
$cart-width: 204px;

$sprite-common-spacing: 15px;  //won't work
$sprite-shape-horizontal-spacing: 15px;


@import "sprites/sprite-shape-horizontal/*.png";
@import "sprites/sprite-shape-vertical/*.png";
@import "sprites/sprite-common/*.png";
@import "parallax";
@import "header/menu";
@import "shapes";
@import "slider";
@import "content/static-content";
@import "content/news";
@import "content/goods";
@import "content/all-about";
@import "content/company";
@import "common";
//@import "mixins/placeholder";

@include font-face('BruskovayaPlain',
    font-files(
            'BRS75__W.woff', woff,
            'BRS75__W.ttf', ttf,
            'BRS75__W.svg', svg),
    'BRS75__W.eot');

@include font-face('MuseoCyrl_500',
    font-files(
            'museosanscyrl-300.woff', woff,
            'museosanscyrl-300.ttf', ttf,
            'museosanscyrl-300.svg', svg),
    'museosanscyrl-300.eot');

%bruskovaya {
    font-family: 'BruskovayaPlain';
}
%MuseoCyrl500 {
    font-family: 'MuseoCyrl_500';
}
%Arial {
    font-family: 'Arial';
}