@mixin placeholder( $color: #ccc, $hide: false){
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $color;
        line-height: 0.9em;
        font-size: 13px;
        @if  $hide  {
            opacity:  0;
        }
        @else {
            opacity:  1;
        }
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $color;
        font-size: 13px;
        @if  $hide  {
            opacity:  0;
        }
        @else {
            opacity:  1;
        }
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $color;
        font-size: 13px;
        @if  $hide  {
            opacity:  0;
        }
        @else {
            opacity:  1;
        }
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $color;
        font-size: 13px;
        @if  $hide  {
            opacity:  0;
        }
        @else {
            opacity:  1;
        }
    }
}

$menu-height: 67px;
$logo-width: 200px;
$search-default-state-width: 182px;
$search-header-width: 70px;
$menu-color: #54321b;
@include all-sprite-common-sprites;
//$common-icons: sprite-map("sprites/sprite-common/*.png");
.menu-wrapper{
    position: relative;
    z-index: 1;
    @include placeholder(#ccc, true);
    .menu{
        @include background(image-url("menu/menu-bordered.png") left top repeat-x);
        width: 100%;
        height: $menu-height;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        font-size: 18pt;
        z-index: initial;
        .menu-holder{
            position: relative;
            @include min-width($min-content-width);
            max-width: $max-content-width;
            margin: 0 auto;
            height: $menu-height;
            .logo{
                width: $logo-width;
                height: 169px;
                position: absolute;
                top: -79%;
                left: auto;
            }
            .shining{
                width: 407px;
                height: 289px;
                position: absolute;
                top: -115px;
                margin-left: -100px;
                z-index: -5;
            }
            ul.menu-block{
                margin-left: $logo-width;
                margin-right: $cart-width;
                padding-left: 0px;
                //height: $menu-height;
                position: relative;
                display: table;


                >li{
                    /*@include inline-block;      */
                    //height: $menu-height;
                    padding: 0;
                    &:first-child{
                        a{
                            border-left: 1px solid transparent;
                        }
                    }
                    &.single:hover{
                        background-clip: content-box;
                        height: auto;
                    }
                    &:hover{
                        @include background(image-url("menu/menu-item-active.png") left 5px repeat-x);
                        height: $menu-height;

                        +li{
                            a{
                                border-left: 1px solid transparent;
                            }
                        }
                        >a{
                            color: #8f6b46;
                            border-left: 1px  solid transparent;
                            &:before{
                                content: '';
                                position: absolute;
                                left: 0;
                                top: -11px;
                                width: 4px;
                                height: 60px;
                                @extend .sprite-common-menu-item-left-shadow;
                                //background: sprite($common-icons, menu-item-left-shadow) no-repeat;
                                //@include sprite-common-sprite(menu-item-left-shadow);
                            }
                            &:after{
                                content: '';
                                position: absolute;
                                right: 0;
                                top: -11px;
                                width: 4px;
                                height: 60px;
                                @extend .sprite-common-menu-item-right-shadow;
                                //background: sprite($common-icons, menu-item-right-shadow) no-repeat;
                            }
                            &.has_no_sub{
                                &:before{
                                    height: 51px;
                                }
                                &:after{
                                    height: 51px;
                                }
                            }
                        }
                        .submenu{
                            display: block;
                        }
                    }

                    >a{
                        display: block;
                        position: relative;
                        padding: 0px 5px 0 5px;
                        margin: 16px 0 11px 0;
                        border-left: 1px dotted transparent;
                        height: 28px;
                        font-size: 20px;
                        line-height: 1.4em;
                        color: $menu-color;
                        text-decoration: none;
                        box-sizing: border-box;
                        @extend %bruskovaya;
                    }

                    .submenu{
                        display: none;
                        position: absolute;
                        //border: 1px solid red;
                        top: 20px;
                        left: -25px;
                        right: -204px;
                        z-index: -1;
                        &.has-4-cols{
                            .c{
                                >.link-list {
                                    >li{
                                        width: 25%;

                                    }
                                }
                            }
                        }
                        &.has-2-cols{
                            .c{
                                >.link-list {
                                    >li{
                                        width: 50%;

                                    }
                                }
                            }
                        }
                        ul{
                            margin-bottom: 14px;
                        }
                        .c{
                            >.link-list {
                                /*@include horizontal-list(2%, left);   */
                                >li{
                                    width: 33.333%;
                                    box-sizing: border-box;

                                    li{
                                        padding-bottom: 2px;
                                    }
                                    li:first-child{
                                        @extend %bruskovaya;
                                        padding-bottom: 15px;
                                        a{
                                            color: #897566;
                                            font-size: 18px;
                                            text-decoration: none;
                                        }
                                    }
                                    a{
                                        padding: 0;
                                        white-space: normal;

                                    }
                                }
                            }
                        }
                    }
                }

                >li{
                    display: table-cell;
                    width: 1%;
                    >a{
                        text-align: center;
                        white-space: nowrap;

                        &.has_no_sub{
                            padding-right: 0;
                            margin: 16px 0 11px 0;
                        }
                        span{
                            position: relative;
                            padding-right: 10px;
                            display: inline-block;
                            i{
                                width: 7px;
                                height: 4px;
                                position: absolute;
                                right: -4px;
                                top: 15px;
                            }

                        }
                    }
                }
            }

        }
    }
}
.search-input-holder{
    position: relative;
    float: right;
    height: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 11px;
    .search-input-holder-fix{
        width: $search-default-state-width;
        position: relative;
        .search-input{
            width: 100%;
            height: 26px;
            border: 1px solid #d2ccc5;
            position: relative;
            box-sizing: border-box;
            padding-left: 10px;
            @include border-radius(5px);
        }
        &:after{
            content: '';
            position: absolute;
            right: 8px;
            top: 8px;
            width: 16px;
            height: 16px;
            @extend .sprite-common-icon-search;
        }
    }
}
.state-header{
    display: none;
}
#state-filter{
    .state-header{
        position: relative;
        left: -4px;
    }
}
.buttons-holder{
    display: none;
}
.menu-wrapper.state-search, .menu-wrapper.state-filter{
    @include placeholder(#897566, false);
    .state-container{
        position: absolute;
        right: 40px;
        /*width: $search-default-state-width + $search-header-width;*/
        z-index: 5;
        left: 210px;
        height: 28px;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-right: 0px;
        .state-content{
            width: auto;
            position: absolute;
            left: $search-header-width;
            right: 80px;
            .search-input{
                border-color: rgba(77,53,34, .5);
                background-color: #f8f1e9;
                height: 28px;;
            }
        }
        .search-input-holder-fix{
            top: 14px;
        }
    }
    .state-header{
        display: block;
        @extend %bruskovaya;
        font-size: 24px;
        color: #4d3522;
        line-height: 1.2em;
        float: left;
    }
    .buttons-holder{
        float: right;
        height: 29px;
        width: 80px;
        display: block;
        font-size: 0; /*inline block children space hack*/
        >div{
            position: relative;
            width: 20px;
            height: 18px;
            display: inline-block;
            margin-top: 6px;
            margin-left: 14px;
            @include opacity(0.5);
            &:hover{
                @include opacity(1);
                .tip{
                    display: block;
                }
            }
            .tip{
                @include opacity(1);
                display: none;
                position: absolute;
                top: -38px;
                left: -24px;
                vertical-align: middle;
                background-color: #4d3522;
                padding: 8px 10px;
                white-space: nowrap;
                color: #fff;
                font-size: 12px;
                @include border-radius(3px);
                @include box-shadow(#897566 1px 1px 3px);
                &:after{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    bottom: -3px;
                    left: 49%;
                    background-color: #4d3522;
                    transform: rotate(45deg);
                    -moz-box-shadow: #897566 1px 1px 2px;
                    -webkit-box-shadow: #897566 1px 1px 2px;
                    box-shadow: #897566 1px 1px 2px;
                }
            }
        }
        .button-filter{
            @extend .sprite-common-icon-filter-state;
        }
        .button-close{
            @extend .sprite-common-icon-close-active-state;
        }
        .button-search{
            @extend .sprite-common-icon-search-state;
        }
    }
}

.menu-wrapper.state-search{

}
.menu-wrapper{
    #state-search{
        display: block;
    }
    #state-menu{
        display: block;
    }
    #state-filter{
        display: none;
    }
}
.menu-wrapper.state-search {
    #state-search{
        display: block;
    }
    #state-menu{
        display: none;
    }
    #state-filter{
        display: none;
    }
}
.menu-wrapper.state-filter {
    #state-search{
        display: none;
    }
    #state-menu{
        display: none;
    }
    #state-filter{
        display: block;
    }
}
