$menu-height: 67px;
$logo-width: 187px;
$menu-color: #54321b;
@include all-sprite-common-sprites;
//$common-icons: sprite-map("sprites/sprite-common/*.png");
.menu-wrapper{
    position: relative;
    z-index: 1;
    .menu{
        @include background(image-url("menu/menu-bordered.png") left top repeat-x);
        width: 100%;
        height: $menu-height;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        font-size: 18pt;
        z-index: initial;
        .menu-holder{
            @include min-width($min-content-width);
            max-width: $max-content-width;
            margin: 0 auto;
            height: $menu-height;
            .logo{
                width: $logo-width;
                height: 150px;
                position: absolute;
                top: -75%;
                left: auto;
            }
            .shining{
                width: 407px;
                height: 289px;
                position: absolute;
                top: -115px;
                margin-left: -100px;
                z-index: -5;
            }
            ul.menu-block{
                margin-left: $logo-width;
                margin-right: $cart-width;
                padding-left: 0px;
                height: $menu-height;
                position: relative;
                display: table;


                >li{
                    /*@include inline-block;      */
                    height: $menu-height;
                    padding: 0;
                    &:first-child{
                        a{
                            border-left: 1px solid transparent;
                        }
                    }
                    &.single:hover{
                        background-clip: content-box;
                    }
                    &:hover{
                        @include background(image-url("menu/menu-item-active.png") left 5px repeat-x);

                        +li{
                            a{
                                border-left: 1px solid transparent;
                            }
                        }
                        >a{
                            color: #8f6b46;
                            border-left: 1px  solid transparent;
                            &:before{
                                content: '';
                                position: absolute;
                                left: 0;
                                top: -11px;
                                width: 4px;
                                height: 60px;
                                @extend .sprite-common-menu-item-left-shadow;
                                //background: sprite($common-icons, menu-item-left-shadow) no-repeat;
                                //@include sprite-common-sprite(menu-item-left-shadow);
                            }
                            &:after{
                                content: '';
                                position: absolute;
                                right: 0;
                                top: -11px;
                                width: 4px;
                                height: 60px;
                                @extend .sprite-common-menu-item-right-shadow;
                                //background: sprite($common-icons, menu-item-right-shadow) no-repeat;
                            }
                            &.has_no_sub{
                                &:before{
                                    height: 51px;
                                }
                                &:after{
                                    height: 51px;
                                }
                            }
                        }
                        .submenu{
                            display: block;
                        }
                    }

                    >a{
                        display: block;
                        position: relative;
                        padding: 0px 5px 0 5px;
                        margin: 16px 0;
                        border-left: 1px dotted transparent;
                        height: 28px;
                        font-size: 20px;
                        line-height: 1.4em;
                        color: $menu-color;
                        text-decoration: none;
                        box-sizing: border-box;
                        @extend %bruskovaya;
                    }

                    .submenu{
                        display: none;
                        position: absolute;
                        //border: 1px solid red;
                        top: 20px;
                        left: -25px;
                        right: -204px;
                        z-index: -1;
                        .c{
                            >.link-list {
                                /*@include horizontal-list(2%, left);   */
                                >li{
                                    width: 33.333%;
                                    box-sizing: border-box;

                                    li{
                                        padding-bottom: 2px;
                                    }
                                    li:first-child{
                                        @extend %bruskovaya;
                                        padding-bottom: 15px;
                                        a{
                                            color: #897566;
                                            font-size: 18px;
                                            text-decoration: none;
                                        }
                                    }
                                    a{
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                >li{
                    display: table-cell;
                    width: 1%;
                    a{
                        text-align: center;
                        white-space: nowrap;
                        &.has_no_sub{
                            padding-right: 0;
                            margin: 16px 0 11px 0;
                        }
                        span{
                            position: relative;
                            padding-right: 10px;
                            i{
                                width: 7px;
                                height: 4px;
                                position: absolute;
                                right: -4px;
                                top: 13px;
                            }

                        }
                    }
                }
            }
        }
    }
}
.search-input-holder{
    position: relative;
    float: right;
    margin-top: 14px;
    margin-right: 11px;
    .search-input{
        width: 182px;
        height: 24px;
        border: 1px solid #d2ccc5;
        @include border-radius(5px);


    }
    &:after{
        content: '';
        position: absolute;
        right: 8px;
        top: 8px;
        width: 16px;
        height: 16px;
        @extend .sprite-common-icon-search;
    }
}