body.inner {
    .content-holder {
        .content-view {
            &.news-page {
                .news-item{
                    margin-top: 8px;
                    img{
                        margin: 15px 0 0 0;
                        &.left{
                            float: left;
                            margin-right: 15px;
                            margin-bottom: 15px;
                            margin-top: 10px;
                        }

                    }

                    p:first-child{
                        margin-top: 0;
                        padding-top: 0;
                    }


                }
            }
        }
    }
}