@mixin button($state: default, $height: 42px, $width: auto, $font-size: 21px, $padding:10px 20px, $background:'', $bg-repeat:'', $bg-position:'', $box-shadow:'') {
    background: none;
    height: $height;
    width: $width;
    padding: $padding;

    $arbitrary-box-shadow: "rgba(140, 118, 87, 1) 1px 1px 1px 0px";

    $arbitrary-bg: linear-gradient(#acc84f, #7da931);
    $arbitrary-bg-repeat: no-repeat;
    $arbitrary-bg-position: 0 0;

    @if ($box-shadow) != '' {
        $arbitrary-box-shadow: join(unquote($box-shadow), unquote($arbitrary-box-shadow), comma);
    }

    @if ($background) != '' {
        $arbitrary-bg: join(unquote($background), $arbitrary-bg, comma);
    }

    @if ($bg-repeat) != '' {
        $arbitrary-bg-repeat: join(unquote($bg-repeat), $arbitrary-bg-repeat, comma);
    }

    @if ($bg-position) != '' {
        $arbitrary-bg-position: join(unquote($bg-position), $arbitrary-bg-position, comma );
    }

    @include background($arbitrary-bg);
    background-repeat: $arbitrary-bg-repeat;
    background-position: $arbitrary-bg-position;

    @include box-shadow(unquote($arbitrary-box-shadow));
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    @extend %bruskovaya;
    font-size: $font-size;
    line-height: 1.2em;
    @include text-shadow(rgba(black, 0.25) 0px 1px 0px);
    text-align: center;
}
@mixin common-button(){
    @include button();
    &:hover{
        @include button($background: "linear-gradient(#97c23a, #bad65d)");
    }
    &:active{
        @include button(
            $background: "linear-gradient(#97c23a, #bad65d)",
            $box-shadow: "rgba(140, 118, 87, 1) 1px 1px 1px 0px inset"
        );
    }
}
@mixin order-disabled-button(){
    @include button(
        $width: 140px,
        $background: "linear-gradient(#ccc, #888)"
    );
    &:hover{
        @include button(
            $width: 140px,
            $background: "linear-gradient(#ccc, #888)"
        );
    }
    &:active{
        @include button(
            $width: 140px,
            $background: "linear-gradient(#ccc, #888)"
        );
    }
}
@mixin order-brown-button(){
    @include button(
        $width: 140px,
        $background: "linear-gradient(#916e57, #b6a08c)"
    );
    &:hover{
        @include button(
            $width: 140px,
            $background: "linear-gradient(#ae926a, #c7b79a)"
        );
    }
    &:active{
        @include button(
            $width: 140px,
            $background: "linear-gradient(#ae926a, #c7b79a)",
            $box-shadow: "rgba(140, 118, 87, 1) 1px 1px 1px 0px inset"
        );
    }
}
@mixin subscribe-button(){
    @include button(
        $height: 38px,
        $font-size: 16px,
        $padding: 10px 10px
    );
    &:hover{
        @include button(
            $background: "linear-gradient(#97c23a, #bad65d)",
            $height: 38px,
            $font-size: 16px,
            $padding: 10px 10px
        );
    }
    &:active{
        @include button(
            $background: "linear-gradient(#97c23a, #bad65d)",
            $height: 38px,
            $font-size: 16px,
            $padding: 10px 10px,
            $box-shadow: "rgba(140, 118, 87, 1) 1px 1px 1px 0px inset"
        );
    }
}
@mixin unsubscribe-button(){
    @include button(
        $background: "linear-gradient(#916e57, #b6a08c)",
        $height: 38px,
        $font-size: 16px,
        $padding: 10px 11px
    );
    &:hover{
        @include button(
            $background: "linear-gradient(#ae926a, #c7b79a)",
            $height: 38px,
            $font-size: 16px,
            $padding: 10px 11px
        );
    }
    &:active{
        @include button(
            $background: "linear-gradient(#ae926a, #c7b79a)",
            $height: 38px,
            $font-size: 16px,
            $padding: 10px 11px,
            $box-shadow: "rgba(140, 118, 87, 1) 1px 1px 1px 0px inset"
        );
    }
}
@mixin cart-button-large(){
    @include button(
        $background: image-url('cart-button-bg-large.png'),
        $bg-repeat: "no-repeat",
        $bg-position: "10px 50%", // must be qouted in order to be handled the right way by mixin 'join' function
        $padding: 10px 0px 10px 82px,
        $height: 42px,
        $width: 122px
    );
    &:hover{
        @include button(
            $background: image-url('cart-button-bg-large.png') + ", linear-gradient(#97c23a, #bad65d)",
            $bg-repeat: "no-repeat, no-repeat",
            $bg-position: "10px 50%, 0 0", // must be qouted in order to be handled the right way by mixin 'join' function
            $padding: 10px 0px 10px 82px,
            $height: 42px,
            $width: 122px
        );
    }
    &:active{
        @include button(
            $background: image-url('cart-button-bg-large.png') + ", linear-gradient(#97c23a, #bad65d)",
            $bg-repeat: "no-repeat",
            $bg-position: "10px 50%", // must be qouted in order to be handled the right way by mixin 'join' function
            $padding: 10px 0px 10px 82px,
            $box-shadow: "rgba(140, 118, 87, 1) 1px 1px 1px 0px inset",
            $height: 42px,
            $width: 122px
        );
    }
}
@mixin cart-button-large-complete(){
    @include button(
        $background: image-url('cart-button-bg-large.png') + ", linear-gradient(#916e57, #b6a08c)",
        $bg-repeat: "no-repeat",
        $bg-position: "10px 50%", // must be qouted in order to be handled the right way by mixin 'join' function
        $padding: 10px 0px 10px 82px,
        $height: 42px,
        $width: 122px
    );
    &:hover{
        @include button(
            $background: image-url('cart-button-bg-large.png') + ", linear-gradient(#ae926a, #c7b79a)",
            $bg-repeat: "no-repeat, no-repeat",
            $bg-position: "10px 50%, 0 0", // must be qouted in order to be handled the right way by mixin 'join' function
            $padding: 10px 0px 10px 82px,
            $height: 42px,
            $width: 122px
        );
    }
    &:active{
        @include button(
            $background: image-url('cart-button-bg-large.png') + ", linear-gradient(#ae926a, #c7b79a)",
            $bg-repeat: "no-repeat",
            $bg-position: "10px 50%", // must be qouted in order to be handled the right way by mixin 'join' function
            $padding: 10px 0px 10px 82px,
            $box-shadow: "rgba(140, 118, 87, 1) 1px 1px 1px 0px inset",
            $height: 42px,
            $width: 122px
        );
    }
}

@mixin cart-button(){
    @include button(
        $background: image-url('cart-button-bg.png'),
        $bg-repeat: "no-repeat",
        $bg-position: "10px 50%", // must be qouted in order to be handled the right way by mixin 'join' function
        $padding: 5px 0px 10px 62px,
        $height: 32px,
        $width: 92px
    );
}

@mixin cart-button-hover(){
    @include button(
        $background: image-url('cart-button-bg.png') + ", linear-gradient(#97c23a, #bad65d)",
        $bg-repeat: "no-repeat, no-repeat",
        $bg-position: "10px 50%, 0 0", // must be qouted in order to be handled the right way by mixin 'join' function
        $padding: 5px 0px 10px 62px,
        $height: 32px,
        $width: 92px
    );
}

@mixin cart-button-active(){
    @include button(
        $background: image-url('cart-button-bg.png') + ", linear-gradient(#97c23a, #bad65d)",
        $bg-repeat: "no-repeat, no-repeat",
        $bg-position: "10px 50%, 0 0", // must be qouted in order to be handled the right way by mixin 'join' function
        $padding: 5px 0px 10px 62px,
        $box-shadow: "rgba(140, 118, 87, 1) 1px 1px 1px 0px inset",
        $height: 32px,
        $width: 92px
    );
}

@mixin cart-button-complete(){
    @include button(
        $background: image-url('cart-button-bg.png') + ", linear-gradient(#916e57, #b6a08c)",
        $bg-repeat: "no-repeat, no-repeat",
        $bg-position: "10px 50%, 0 0", // must be qouted in order to be handled the right way by mixin 'join' function
        $padding: 5px 0px 10px 62px,
        $height: 32px,
        $width: 92px
    );
}

@mixin cart-button-complete-hover(){
    @include button(
        $background: image-url('cart-button-bg.png') + ", linear-gradient(#ae926a, #c7b79a)",
        $bg-repeat: "no-repeat, no-repeat",
        $bg-position: "10px 50%, 0 0", // must be qouted in order to be handled the right way by mixin 'join' function
        $padding: 5px 0px 10px 62px,
        $height: 32px,
        $width: 92px
    );
}

@mixin cart-button-complete-active(){
    @include button(
        $background: image-url('cart-button-bg.png') + ", linear-gradient(#ae926a, #c7b79a)",
        $bg-repeat: "no-repeat, no-repeat",
        $bg-position: "10px 50%, 0 0", // must be qouted in order to be handled the right way by mixin 'join' function
        $padding: 5px 0px 10px 62px,
        $box-shadow: "rgba(140, 118, 87, 1) 1px 1px 1px 0px inset",
        $height: 32px,
        $width: 92px
    );
}
