$cart-table-padding: 3px;
body.inner {
    .content-holder {
        .content-view {
            &.cart-page {
                width: 930px;
                margin: 0 auto;
                button{
                    @include common-button();
                }
                .separator{
                    margin: 20px 0 30px 0;
                }
                #active, #delayed{
                    position: relative;
                }
                .tabs-holder{
                    margin-top: 12px;
                    .ui-tabs-panel{
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .delayed-tab{
                        position: relative;
                        span{
                            display: none;
                        }
                        &.ui-state-active{
                            span{
                                top: 18px;
                                display: inline;
                            }
                        }
                        span{
                            position: absolute;
                            left: 100%;
                            font-size: 11px;
                            top: 16px;
                            color: #000;
                            padding-left: 10px;
                        }
                        a{
                            position: relative;
                            padding-left: 50px;
                            &:before{
                                content: '';
                                height: 12px;
                                width: 15px;
                                position: absolute;
                                left: 28px;
                                top: 13px;
                                @extend .sprite-common-icon-already-in-favorites;
                            }
                        }
                        &.ui-state-active{
                            a:before{
                                top: 15px;
                            }
                        }
                    }
                    table{
                        width: 100%;
                        margin-top: 10px;
                        td{
                            text-align: center;
                            vertical-align: middle;
                            padding: $cart-table-padding;
                        }
                        .picture{
                            width: 80px;
                        }
                        .name{
                            text-align: left;
                            padding-left: 5px;
                            a{
                                font-size: 21px;
                                line-height: 30px;
                                @extend %bruskovaya;
                            }
                            span{
                                @extend %MuseoCyrl500;
                                font-size: 14px;
                                color: #a1836a;
                            }
                        }
                        .discount{
                            width: 60px;
                        }
                        .price{
                            width: 80px;
                            color: #4d3522;

                        }
                        .amount{
                            width: 120px;
                            color: #5b4239;
                            font-size: 15px;
                            font-weight: bold;
                            i{
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                //border: 1px solid green;
                                vertical-align: middle;
                                &.minus{
                                    @extend .sprite-common-minus;
                                    cursor: pointer;
                                }
                                &.plus{
                                    @extend .sprite-common-plus;
                                    cursor: pointer;

                                }
                            }
                            input{
                                width: 42px;
                                height: 22px;
                                padding: 0;
                                text-align: center;
                                border-radius: 0;
                                font-size: 12px;
                                margin: 0;
                            }
                        }
                        .actions{
                            width: 100px;
                            text-align: left;
                            padding-left: 10px;
                            a{
                                font-size: 14px;
                            }
                            .delay{
                                position: relative;
                                display: inline-block;
                                padding-left: 23px;
                                &:before{
                                    content: '';
                                    @extend .sprite-common-icon-add-to-wishlist;
                                    width: 15px;
                                    height: 13px;
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                }
                                &:hover{
                                    &:before{
                                    @extend .sprite-common-icon-already-in-favorites;
                                    }
                                }

                            }
                            .remove{
                                position: relative;
                                display: inline-block;
                                padding-left: 23px;
                                padding-bottom: 14px;
                                &:before{
                                    content: '';
                                    @extend .sprite-common-icon-close-active-state;
                                    width: 18px;
                                    height: 18px;
                                    position: absolute;
                                    left: -2px;
                                    top: -2px;
                                }
                                &:hover{
                                    &:before{
                                        @extend .sprite-common-icon-cart-remove-active;
                                    }
                                }
                            }
                            .to-cart{
                                position: relative;
                                display: inline-block;
                                padding-left: 23px;
                                &:before{
                                    content: '';
                                    @extend .sprite-common-icon-cart-delayed;
                                    width: 20px;
                                    height: 18px;
                                    position: absolute;
                                    left: -2px;
                                    top: -5px;
                                }
                                &:hover{
                                    &:before{
                                        @extend .sprite-common-icon-cart-active-delayed;
                                    }
                                }
                            }
                        }
                    }

                }
                .table-footer{
                    &:after{
                        content: '';
                        display: table;
                        clear: both;

                    }
                    .action-back{
                        float: left;
                        margin-left: 6px;
                    }
                    table.summary{
                        width: 400px;
                        margin-top: 0;
                        margin-bottom: 0;
                        float: right;
                        border: none;
                        td:first-child{
                            text-align: left;
                        }
                        td:last-child{
                            text-align: right;
                        }
                        td{
                            font-size: 15px;
                            border: 0;
                            &.order-clarification{
                                font-size: 11px;
                                div{
                                    width: 170px;
                                    display: inline-block;
                                }
                            }
                        }
                        tr.result{
                            td{
                                @extend %bruskovaya;
                                font-size: 26px;
                                color: #4d3522;
                            }
                        }
                    }
                }
                .value{
                    line-height: 18px;
                    font-size: 26px;
                    display: inline-block;
                    padding-right: 13px;
                    @extend %bruskovaya;
                    &.ruble{
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            width: 15px;
                            height: 19px;
                            right: -4px;
                            top: -1px;
                            @extend .sprite-common-rubl;
                        }
                    }
                }
                td.value-small{
                    font-size: 15px;

                    .ruble{
                        position: relative;
                        padding-right: 13px;
                        &:after{
                            content: '';
                            position: absolute;
                            width: 9px;
                            height: 11px;
                            right: 0px;
                            top: 1px;
                            @extend .sprite-common-rubl-15px-museo;
                        }
                    }
                }
                .plate{
                    display: none;
                    position: absolute;
                    left:0;
                    right:0;
                    background-color: #000;
                    top: auto;
                    //height: 90px;
                    margin-top: -$cart-table-padding;
                    z-index: 1;
                    @include opacity(0.2);
                    span{
                        display: inline-block;
                        margin: 0 auto;
                        color: #fff;
                        @include opacity(1);
                        position: relative;
                        top: 50%;
                        @include transform(translateY(-50%));
                    }
                }
                .removed{
                    .plate{
                        display: block;
                    }
                }
                .price_placeholder{
                    &.loading{
                        .loader{
                            margin: 0 auto;
                            background: image-url('loader/loader.gif') 0 0 no-repeat;
                            width: 30px;
                            height: 12px;
                        }
                        .ruble{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}