body.inner{

    #layout{
        height: auto;
        @include background(
                image-url("cloud.png"),
                image-url("cloud.png"),
                image-url("buddah.png"),
                //image-url("towers.png"),
                image-url("sky.png"),
                image-url("bg.png"),
                linear-gradient(to right, #94694f 0%,#ffdec2 44%,#ffdec2 56%,#94694f 100%)

        );

        background-position:
            50% 1000px,
            -50% 500px,
            center bottom,
            //center 105%,
            50% top,
            50% 96%,

            center top;
        background-repeat: no-repeat, no-repeat,no-repeat, no-repeat, no-repeat;

        #content{
            max-width: $max-inner-content-width;
        }
        #bottom{
            background: none;
            height: 100px;
            .footer-holder {
                left: 2px;
                right: 2px;
                .footer-shape {
                     max-width: 1500px;
                }
            }
        }
    }

    .menu-wrapper{
        .menu{
            .menu-holder{
                max-width: 1440px;
                .shining{
                    height: 215px;
                }
            }
        }
    }
    .content-holder{
        margin-top: $menu-height + $menu-top-offset + 25;
        .separator{
            margin-top: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #cac2bc;
            position: relative;
            &:after{
                content: '';
                width: 37px;
                height: 25px;
                @extend .sprite-common-icon-horizontal-separator;
                position: absolute;
                bottom: -12px;
                left: 50%;
                margin-left: -18px;
            }
        }
        .sidebar {
            width: $inner-sidebar-width;
            float: left;
            &.right-sidebar{
                float: right;
                margin-left: 20px;
            }
        }
        .content-view {
            float: none;
            /* the next props are meant to keep this block independent from the other floated one */
            width: auto;
            overflow: hidden;
            font-size: 14px;
            padding: 0 20px 0 0;
            &.page-content-view{
                padding-left: 20px;
                padding-right: 17px;
            }

            .loader-holder{
                text-align: center;
                a{
                    text-decoration: none;
                    border-bottom: 1px dashed;
                    &:hover{
                        border-bottom: none;
                    }
                }
            }
            .sections-block{
                margin: 12px 0 8px 0;
                line-height: 1.5em;
                a{
                    margin-right: 20px;
                }
            }
            h1{
                border-bottom: 1px solid;
            }
        }
    }
    .notification{
        position: relative;
        border: 1px solid #ff0000;
        color: #ff0000;
        padding: 15px 30px 15px 15px;
        font-size: 14px;
        box-sizing: border-box;
        @include border-radius(2px);
        background-color: #fef6dd;
        span{
            @include opacity(0.5);
            position: absolute;

            right: 10px;
            top: 10px;
            width: 18px;
            height: 18px;
            cursor: pointer;
            @extend .sprite-common-icon-close-active-state;
            &:hover{
                @include opacity(1);
            }
        }

    }
}
