$popup-brown: #4d3522;
.ui-dialog{
    &.fixed_on_scroll{
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        @include transform( translate(-50%, -50%));
    }
}

.popup-shape{
    h1{
        @extend %bruskovaya;
        color: $popup-brown;
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;

    }
    .separator{
        width: 100px;
        height: 1px;
        background-color: $popup-brown;
        margin: 0 auto 20px;
    }

    .shadow{
        position: relative;
        width: 100%;
        height: 1px;
        &:after{
            content: '';
            width: 100%;
            height: 25px;
            position: absolute;
            bottom: 0;
            //@include background-image(linear-gradient(to bottom ,rgba(0, 0, 0, 0),  rgba(255, 255, 255, 1)));
        }
    }
}

.cart-form{
    max-height: 380px;
    overflow-y: auto;

}
.wo-buy-button-form{
    max-height: 400px;
    overflow-y: auto;
    .cart-item .cart-item-details .cart-options .price{
        float: right;
    }
    .amount{
        float: left;
    }
}

.cart-item{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #dbd6d0;
    &:first-child{
        padding-top: 0;
    }
    &:last-child{
        border: 0;
    }
    img{
        float: left;
        height: 115px;
        width: 115px;
        margin-right: 15px;
        border: 1px solid #ccc;
        @include border-radius(2px);
    }
    .cart-item-details{
        overflow: hidden;
        .name{
            font-size: 24px;
            color: #4d3522;
            text-decoration: none;
            padding-right: 20px;
            margin-bottom: 7px;
            @extend %bruskovaya;
        }
        .articul{
            @extend %MuseoCyrl500;
            font-size: 13px;
            color: #a1836a;
        }
        .cart-options{
            height: 72px;
            width: 100%;
            box-sizing: border-box;
            padding-top: 28px;
            >div{
                height: 40px;
            }
            .note{
                @extend %MuseoCyrl500;
                font-size: 12px;
                color: #a1836a;
                margin-bottom: 7px;
            }
            .price{
                float:left;
                width: 35%;
                text-align: left;
                color: #4d3522;
                .value{
                    line-height: 18px;
                    font-size: 36px;
                    display: inline;
                    padding-right: 16px;
                    @extend %bruskovaya;
                    &.ruble{
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            width: 18px;
                            height: 27px;
                            right: -4px;
                            top: 9px;

                            @extend .sprite-common-rubl-36px;
                        }
                    }
                }
            }
            .buy{
                float: right;
                width: 30%;
                text-align: center;
                button{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .amount{
                text-align: center;
                i{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    //border: 1px solid green;
                    vertical-align: middle;
                    &.minus{
                        @extend .sprite-common-minus;
                        cursor: pointer;
                    }
                    &.plus{
                        @extend .sprite-common-plus;
                        cursor: pointer;

                    }
                }
                input{
                    width: 38px;
                    height: 25px;
                    padding: 0;
                    text-align: center;
                    border-radius: 0;
                    font-size: 12px;
                    margin: 0;
                }
            }
        }
    }
}

.sprite-common-icon-auth{
    width: 48px;
    height: 57px;
    margin: 0 auto;
}
.sprite-common-icon-success-responce{
    width: 48px;
    height: 57px;
    margin: 0 auto;
}

.popup-message-header{
    @extend %bruskovaya;
    font-size: 30px;
    color: #4d3522;
    text-align: center;
    margin: 10px 0 12px 0;
}
.popup-message-text{
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    color: #958070;
    text-align: center;
}