#all-about{
    padding-top: 50px;
}
.c{
    .link-list{
        &.all-about-list{
            >li{
                width: 18%;
                padding-top: 15px;
                &.has_image{
                    padding-left: 80px;
                    position: relative;
                    &.coffee:before{
                        content: '';
                        width: 78px;
                        height: 69px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        @extend .sprite-common-icon-coffee-content;
                    }
                    &.coffee-bean:before{
                        content: '';
                        width: 62px;
                        height: 70px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        @extend .sprite-common-icon-coffee-bean-content;
                    }
                }
                li{
                    padding-left: 1em;
                    text-indent: -.7em;
                    &:before{
                        content: "• ";
                        color: #a1836a;
                    }
                    a{
                        color: #1d8dcf;
                        padding-left: 0px;
                        white-space: normal;
                    }

                }
            }
        }
    }
}