

.tabs{
    @include  horizontal-list(10px, left);
    li{
        padding: 3px 15px;
        a{
            display: block;
            color: #4d3522;
            font-size: 16px;
            text-decoration: none;
            border-bottom: 1px dashed;

        }
        &.active{
            padding: 3px 30px;
            background-color: #a79281;
            @include border-radius(3px);
            color: #fff;
            a{
                color: #fff;
                border: 0;
                @include text-shadow(rgba(#000, 0.3) 1px 1px 0);
            }
        }
        &:first-child{
            padding: 3px 15px;
            margin-right: 15px;
        }
    }
}
.flex-items-list{
    width: 101%;
    margin-left: -.5%;
    margin-bottom: 26px;

    .flex-item-holder{
        float:left;
        position: relative;
        margin: 10px 0.5%;
        width: 24%;
        min-height: 328px;

        .flex-item{
        background: #fff;
        border: 1px solid #765f4d;
        @include border-radius(3px);

        text-align: center;
        vertical-align: text-top;
        display: block;
        text-align: left;

        &:hover{
            position: absolute;

            left: -1px;
            right: -1px;
            z-index: 1;
            @include box-shadow(rgba(118,95,77, 0.75) 0 0 25px);
            .extra{
                display: block;
            }
            .cover{
                right: 3px;
            }
        }

        .extra{
            display: none;
            border-top: 1px solid #d1c9c3;
            box-sizing: border-box;
            padding: 10px;
            color: #4d3522;
            font-size: 12px;
            @extend %Arial;
            line-height: 1.5em;

            ul{
                @include reset-list-style();
                color: #4d3522;
                li{
                    @include reset-ul-styles;
                }
            }
            .price{
                color: #b95d39;
                @extend %bruskovaya;
                padding: 6px 0 2px 0;
                .value{
                    font-size: 20pt;
                    position: relative;
                    padding-right: 15px;
                    margin-right: 6px;

                        &:after{
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 20px;
                            right: -4px;
                            top: 6px;

                            @extend .sprite-common-rubl-extra;
                        }

                }
            }
        }

        /*@include display-flex;
        @include align-items(center);
        @include justify-content(space-between);
        @include flex-wrap(wrap);       */
        .top{
            position: relative;
            box-sizing: border-box;
            padding: 15px;
            height: 254px;
            width: 100%;
            background-position: 1px 56px;
            background-repeat: no-repeat;
            .name{
                font-size: 18px;
                color: #4d3522;
                text-decoration: none;
                padding-right: 20px;
                margin-bottom: 7px;
                @extend %bruskovaya;
            }
            .articul{
                font-size: 12px;
                color: #a1836a;
            }

            .marks{
                position: relative;
                .is-new{
                    @extend .sprite-common-icon-new;
                    position: absolute;
                    top: 7px;
                    left: -1px;
                    width: 36px;
                    height: 36px;
                    &:hover{
                        .new-tip{
                            display: block;
                        }
                    }
                }
                .is-for-sale{
                    @extend .sprite-common-icon-sale;
                    position: absolute;
                    top: 47px;
                    left: -1px;
                    width: 36px;
                    height: 36px;
                    &:hover{
                        .sale-tip{
                            display: block;
                        }
                    }
                }
            }
            .cover{
                //@extend .sprite-common-item-cover;
                width: 89px;
                height: 181px;
                position: absolute;
                right: 5px;
                bottom: 2px;
            }
            .tip{
                display: none;
                position: absolute;
                top: -34px;
                left: -42px;
                vertical-align: middle;
                background-color: #897566;
                padding: 8px 10px;
                white-space: nowrap;
                color: #fff;
                font-size: 12px;
                @include border-radius(3px);
                @include box-shadow(#897566 1px 1px 3px);

                &:after{
                    $tip-corner-size: 6px;
                    content: '';
                    position: absolute;
                    width: $tip-corner-size;
                    height: $tip-corner-size;
                    bottom: -($tip-corner-size/2);
                    left: 49%;
                    background-color: #897566;
                    transform: rotate(45deg);
                    @include box-shadow(#897566 1px 1px 2px);

                }
                &.wishlist-tip{
                    left: -42px;
                }
                &.new-tip{
                    left: -30px;
                }
                &.sale-tip{
                    left: -27px;
                }
            }

            .wishlist-icon{
                @extend .sprite-common-icon-add-to-wishlist;
                width: 15px;
                height: 13px;
                position: absolute;
                right: 17px;
                top: 17px;


                &:hover{
                    @extend .sprite-common-icon-add-to-wishlist-h;
                    .wishlist-tip{
                        display: block;
                    }
                }
                &.in-favorites{
                    @extend .sprite-common-icon-already-in-favorites;
                }
            }
        }
        .bottom{
            height: 72px;
            width: 100%;
            box-sizing: border-box;
            padding-top: 10px;
            >div{
                height: 40px;
            }
            .note{
                font-size: 12px;
                color: #a1836a;
                margin-bottom: 7px;
            }
            .price{
                float:left;
                width: 35%;
                text-align: center;
                color: #4d3522;
                .value{
                    line-height: 18px;
                    font-size: 26px;
                    display: inline-block;
                    padding-right: 16px;
                    @extend %bruskovaya;
                    &.ruble{
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            width: 15px;
                            height: 19px;
                            right: -4px;
                            top: -1px;

                            @extend .sprite-common-rubl;
                        }
                    }
                }
            }
            .buy{
                /*float: right;
                width: 30%;
                text-align: center;
                */
                float: right;
                width: 50%;
                text-align: center;
                padding-top: 5px;
                button{
                    /*width: 52px;
                    height: 32px;
                    border: none;
                    outline: none;
                    margin-top: 12px;
                    background-color: transparent;
                    @extend .sprite-common-icon-add-to-cart;
                    &:hover{
                        cursor: pointer;
                    }*/
                }
                button{
                    @include cart-button;
                    &:hover{
                        @include cart-button-hover;
                    }
                    &:active{
                        @include cart-button-active;
                    }
                    &.in-cart{
                        @include cart-button-complete;
                        &:hover{
                            @include cart-button-complete-hover;
                        }
                        &:active{
                            @include cart-button-complete-active;
                        }
                    }
                }
            }
            .amount{
                text-align: center;
                i{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    //border: 1px solid green;
                    vertical-align: middle;
                    &.minus{
                        @extend .sprite-common-minus;
                        cursor: pointer;
                    }
                    &.plus{
                        @extend .sprite-common-plus;
                        cursor: pointer;

                    }
                }
                input{
                    width: 21px;
                    text-align: center;
                }
            }
        }
    }
    }
    @include pie-clearfix;
}
