
.horizontal-list{
    @include horizontal-list(0px, left);
    >li{
        width: 47%;
        white-space: normal;
        img{
            float: left;
            margin-right: 22px;
        }
        .news-content{
            padding-right: 30px;
            box-sizing: content-box;
            .news-header{
                color: #4d3522;
                font-size: 21px;
                @extend %bruskovaya;
            }
            .news-date{
                color: #8b694d;
                font-size: 14px;
                margin: 20px 0;
            }
            .news-preview{
                color: #816b59;
                font-size: 14px;
                height: 118px;
                overflow: hidden;
                white-space: normal;
            }
        }
    }
}