#static-content{
    width: 100%;
    height: 420px;
    .leftside{
        float: left;
        height: 350px;
        position: relative;
        width: 65%;
    }
    .rightside{
        float: right;
        height: 350px;
        position: relative;
        width: 35%;
    }
    .shape.pattern-shape{
        position: absolute;
        height: 350px;
        &.left{
            left: 0;
            right: 0px;

        }
        &.right{
            left: -31px;
            right: 0px;

        }
    }
}

.c{
    >.link-list{
        @include horizontal-list(1%, left);
        min-height: 50px;
        &.shop{
            >li{
                width: 80%;
                float: none;
                margin: 0 auto;
                width: 270px;
            }
        }
        &.partnership{
            >li{
                &:first-child{
                    padding-left: 3%;
                }
                &:last-child{
                    padding-right: 3%;
                }
            }
        }
        >li{
            width: 44%;
            padding-right: 3%;
            padding-left: 3%;


            h2.link-list-header {
                height: 42px;
                padding-left: 48px;
                font-size: 32px;
                color: #4d3522;
                line-height: 1.9em;
                margin-bottom: 25px;
                @extend %bruskovaya;

                &.partnership-header{
                    @extend .sprite-common-icon-man;
                }
                &.wholesale-header{
                    @extend .sprite-common-icon-cart;
                }
                &.shop-header{
                    @extend .sprite-common-icon-bag;
                    position: relative;
                    left: -1px;
                }
            }
            .link-list-description{
                margin-top: 15px;
                color: #816b59;
                white-space: normal;
            }
        }
        ul{
            >li{
                &:first-child{
                    float: none;
                    display: block;
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
                @include nested-reset();
                float: none;
                display: block;
                padding-left: 0px;
                padding-top: 7px;
                padding-bottom: 10px;
                font-size: 14px;
                >a{
                    color: #1d8dcf;
                    padding-left: 28px;
                    &:hover{
                        color: $link-hover-color;
                    }
                }

            }
        }
    }
}

.basket{
    position: absolute;
    width: $cart-width;
    height: 194px;
    background: image-url('basket.png') 0 0 no-repeat;
    right: 0px;
    .basket-icon{
        position: absolute;
        top: 5px;
        left: 20px;
        height: 50px;
        width: 150px;
        &:hover{
            cursor: pointer;
        }
    }
    .basket-sum{
        position: absolute;
        top: 20px;
        left: 74px;
        font-size: 26px;
        color: #fff;
        @extend %bruskovaya;
        @include text-shadow(rgba(black, 0.2) 1px 1px 0);
        &:hover{
            cursor: pointer;
        }
        &:after{
            content: '';
            position: absolute;
            right: -24px;
            top: 1px;
            width: 17px;
            height: 23px;
            @extend .sprite-common-rubl-cart;
        }
    }
    .wishlist-count{
        position: absolute;
        display: block;
        bottom: 29px;
        left: 85px;
        width: 30px;
        height: 20px;
        color: #897566;
        font-size: 14px;
        text-align: center;
        padding-top: 10px;
        vertical-align: middle;
        &:hover{
            cursor: pointer;
            .wishlist-tip{
                display: block;
            }
        }

        .wishlist-tip{
            display: none;
            position: absolute;
            top: -41px;
            left: -55px;
            vertical-align: middle;
            background-color: #fff;
            padding: 8px 10px;
            white-space: nowrap;
            color: #897566;
            font-size: 12px;
            @include border-radius(3px);
            @include box-shadow(#897566 1px 1px 3px);
            z-index: 1;
            &:after{
                $tip-corner-size: 6px;
                content: '';
                position: absolute;
                width: $tip-corner-size;
                height: $tip-corner-size;
                bottom: -($tip-corner-size/2);
                left: 49%;
                background-color: #fff;
                @include transform(rotate(45deg));


                //@include box-shadow(#897566 1px 1px 2px);

            }
        }
    }
}

.login-block{
    position: absolute;
    top: 12px;
    right: 205px;
    width: 125px;
    height: 45px;
    a{
        display: inline-block;
        padding-left: 0px;
        margin-bottom: 6px;
        color: #000;
        text-decoration: none;
        font-size: 14px;
        border-bottom: 1px dashed;
        &#login{
             position: relative;
             &:before{
                 content: '';
                 position: absolute;
                 top: 0px;
                 left: -20px;
                 height: 16px;
                 width: 16px;
                 @extend .sprite-common-icon-key;

             }
         }
        &#register{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 0px;
                left: -20px;
                height: 16px;
                width: 16px;
                @extend .sprite-common-icon-login;

            }
        }
    }
    >div{
        display: none;
    }
    &.logged-in{
        width: 420px;
        padding-right: 20px;
        >a{
            display: none
        }
        div{
            display: block;
            font-size: 14px;
            a{
                color: #1d8dcf;
                border: 0;
                font-size: 14px;
                &:hover{
                    color: $link-hover-color;
                }
            }
        }
        .name{
            text-align: right;
            margin: 2px 0 6px 0;
        }
        .links{
            text-align: right;
        }
    }
}
.town-select-block{
    position: absolute;
    top: 8px;
    right: 28%;
    width: 245px;
    height: 43px;
    z-index: 1;
    .town-select{
        width: 206px;
        height: 43px;
        float: left;
        div{
            margin: 6px 0 8px 0;
            color: #7d6a5b;
            font-size: 15px;
        }
    }
    .phone{
        float: left;
        margin-right: 25px;
        line-height: 2em;
        font-size: 20px;
    }
    .callback{
        top: -1px;
        position: absolute;
        left: -130px;
        display: block;
        margin-left: 0px;
        margin-right: 10px;
        padding-top: 3px;
        margin-bottom: 6px;
        color: #000;
        height: 26px;
        text-decoration: none;
        font-size: 14px;
        border-bottom: 1px dashed;
        &:before{
            content: '';
            position: absolute;
            top: 15px;
            left: -19px;
            height: 16px;
            width: 16px;
            @extend .sprite-common-icon-callback;
        }
        &:hover{
            color: $link-hover-color;
        }

    }
    /*@media screen and (max-width: 1160px){
        .callback{
            top: 14px;
            left: 18px;
        }
    }*/
}