
<div class="content-view page-content-view item-page">
<div class="breadcrumps">
  <a href="#">Главная</a>
  <a href="#">Каталог</a>
  <a href="#">Чай "Ассам №17"</a>
</div>

<div class="item-holder">
  <img class="main-picture" src="<%=asset_url('item-large.png')%>" />
  <img class="pack-picture" src="<%=asset_url('item-large-pack.png')%>" />
  <div class="item-data">
    <h1>Ассам №17</h1>
    <div class="articul">
      <span class="name">Артикул:</span><span class="value">03535387</span>
    </div>
    <div class="marks">
      <div class="is-new"></div>
      <div class="has-discount">6%</div>
    </div>
    <ul class="properties">
      <li class="">
        <span class="name">Вес нэтто &mdash; </span><span class="value">1,8Кг</span>
      </li>
      <li class="">
        <span class="name">Вид упаковки &mdash; </span><span class="value"> <a id="pack-type" href="#">пакет</a></span>
      </li>
      <li class="note">
        В развес не продается
      </li>
    </ul>
    <div class="price-details">
      1360 руб/кг х 1,8 кг = <b>2 448.00 руб/пакет</b>
    </div>
    <div class="price">
      <div class="value ruble">1360</div>
      <div class="clarification">за 100 гр</div>
      <button class="">0</button>
    </div>

  </div>
  <br>      <br>
  <a id="first" href="#">плавающий вариант</a> <br>
  <a id="third" href="#">плавающий вариант для маленьких разрешений</a> <br>
  <a id="second" href="#">статический вариант</a> <br>
  <script type="text/javascript">
    $(function () {
       $('#first').click(function (){
           $('.tabs-holder').addClass('floating').removeClass('floating-at-min');  return false;
       });
       $('#second').click(function (){
           $('.tabs-holder').removeClass('floating').removeClass('floating-at-min');  return false;
       });
       $('#third').click(function (){
           $('.tabs-holder').removeClass('floating').addClass('floating-at-min');  return false;
       })
    });
  </script>
  <div class="tabs-holder">
    <ul>
      <li><a href="#description">Описание</a></li>
      <li><a href="#testimonials">Отзывы <span>(7)</span></a></li>
      <li><a href="#wholesale">Покупка оптом</a></li>
    </ul>
    <div id="description"><p>Ароматный, достигший наивысшей степени созревания, чай из высокогорных то рор
      гргр районов штата Ассам. Крупнолистовой, высший сорт, Голден Флаури Оранж Пекое (GFOP).</p>
      <p>Cостав: чай черный байховый крупный (листовой) (Индия).</p>
      <h3 class="honors-header">Имеет награды</h3>
      <ul class="honors">
        <li>
          <a href="#" class="item-header">
            <img align="middle" src="/assets/honors/honor1.png">
            <p>Новинки асортимента</p>
          </a>

        </li>
        <li>
          <a href="#" class="item-header">
            <img src="/assets/honors/honor2.png">
            <p>Новинки асортимента</p>
          </a>

        </li>

      </ul>
    </div>
    <div id="testimonials">
      <a id="add_testimonial" href="#">оставить отзыв</a>
      <form class="">
        <div class="half-line mandatory">
          <input type="text"   value="" placeholder="Имя"/>
        </div>
        <div class="half-line validation-succeeded">
          <input type="text"  value="ab@melius.ru" placeholder="E-mail"/>
        </div>
        <div class="mandatory">
          <textarea placeholder="Сообщение"></textarea>
        </div>

        <div class="mandatory_notification">Поля, обазятельные для заполнения</div>
        <div class="captcha_block one-line-aligned">
          <img src="<%= asset_path('captcha-image.png')%>" />
          <img src="<%= asset_path('icon-captcha-reload.png')%>" />
          <input type="text" placeholder="Введите слово с картинки"/>
          <button>Отправить</button>
        </div>
      </form>
    </div>
    <div id="wholesale">
      <ul>
        <li>Минимальная единица продажи &mdash; <b>пак</b></li>
        <li>Размеры минимальной единицы продажи &mdash; <b>250 Х 440 X 120 мм</b></li>
        <li>Вес нетто минимальной единицы продажи &mdash; <b>0.5 кг</b></li>
        <li>Вес брутто минимальной единицы продажи &mdash; <b>0,52 кг</b></li>
        <li>Количество в коробке &mdash; <b>15 шт</b></li>
        <li>Размеры коробки &mdash; <b>600 Х 400 Х 500 мм</b></li>

      </ul>
    </div>
  </div>

</div>
<h2>Другие товары из раздела <a href="#">"Ароматизированный черный чай"</a></h2>
<div class="flex-items-list full-width-view">
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/00521404.jpg)">
          <div class="name">Ассорти молотый</div>
          <div class="articul">Артикул: 00521404</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover"></div>
          <div class="wishlist-icon">
            <div class="tip wishlist-tip">
              Уже нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за штуку
            </div>
            <div class="value ruble">5'410</div>

          </div>

          <div class="buy">
            <button class="buy-button in-cart">1</button>
          </div>
          <!--<div class="amount">
            <div class="note">
              кол-во
            </div>
            <i class="minus"></i>
            <input type="text" name="count" value="1">
            <i class="plus"></i>
          </div>-->
        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/06011962.jpg)">
          <div class="name">Граф Калиостро</div>
          <div class="articul">Артикул: 06011962</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover" style="background-image: url(/assets/item/06011962-s.jpg)"></div>
          <div class="wishlist-icon">
            <div class="tip wishlist-tip">
              Уже нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за 1.8кг
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/03035402.jpg)">
          <div class="name">Земляничная лакомка</div>
          <div class="articul">Артикул: 03035402</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover" style="background-image: url(/assets/item/03035402-s.jpg)"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за 1.8кг
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/20897009.jpg)">
          <div class="name">Набор чайный “Мемуары гейши”</div>
          <div class="articul">Артикул: 20897009</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за штуку
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/06111945.jpg)">
          <div class="name">Имбирный апельсин</div>
          <div class="articul">Артикул: 06111945</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover" style="background-image: url(/assets/item/06111945-s.jpg)"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за 1.8кг
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/06077003.jpg)">
          <div class="name">Мед “Цветочный”</div>
          <div class="articul">Артикул: 06077003</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за штуку
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/06011962.jpg)">
          <div class="name">Граф Калиостро</div>
          <div class="articul">Артикул: 06011962</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover" style="background-image: url(/assets/item/06011962-s.jpg)"></div>
          <div class="wishlist-icon">
            <div class="tip wishlist-tip">
              Уже нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за 1.8кг
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/03035402.jpg)">
          <div class="name">Земляничная лакомка</div>
          <div class="articul">Артикул: 03035402</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover" style="background-image: url(/assets/item/03035402-s.jpg)"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за 1.8кг
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/20897009.jpg)">
          <div class="name">Набор чайный “Мемуары гейши”</div>
          <div class="articul">Артикул: 20897009</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за штуку
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/06111945.jpg)">
          <div class="name">Имбирный апельсин</div>
          <div class="articul">Артикул: 06111945</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover" style="background-image: url(/assets/item/06111945-s.jpg)"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за 1.8кг
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/06077003.jpg)">
          <div class="name">Мед “Цветочный”</div>
          <div class="articul">Артикул: 06077003</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за штуку
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>


</div>
</div>
