  <div class="sidebar">
    <div class="news">
      <div class="news-archive">
        <div class="block-header">Архив новостей</div>
        <div class="years">
          <span>2015</span>
          <span><a href="/news/~2014.0/" title="2014 год">2014</a></span>
        </div>
        <div class="months">
          <span title="Январь">01</span>
          <span class="current"><a href="/news/~2015.02/" title="Февраль">02</a></span>
          <span title="Март">03</span>
          <span title="Апрель">04</span>
          <span title="Май">05</span>
          <span title="Июнь">06</span>
          <span title="Июль">07</span>
          <span title="Август">08</span>
          <span title="Сентябрь">09</span>
          <span title="Октябрь">10</span>
          <span title="Ноябрь">11</span>
          <span title="Декабрь">12</span>
          <div class="clear"></div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="newsletter">
        <div class="block-header">Управление подпиской</div>
        <form action="/news/" method="POST">
          <input type="hidden" name="sf_RUB_ID[]" value="1">
          <div class="inp2">
            <input type="text" placeholder="Введите ваш e-mail" name="sf_EMAIL" size="20"  title="Введите ваш e-mail">
          </div>
          <input class="button1 unsubscribe" type="submit" name="NO" value="Отписаться">
          <input class="button2" type="submit" name="OK" value="Подписаться">
        </form>
      </div>
      <div class="separator"></div>
      <img class="vk-block" src="<%=asset_path "vk-block.png"%>" />
    </div>
    <!--<ul class="vertical-menu">
      <li>
        <a href="#">Весовой чай</a>
      </li>
      <li>
        <a href="#">Фасованый чай</a>
      </li>
      <li>
        <a href="#">Кофе</a>
      </li>
      <li>
        <a href="#">Сладости</a>
      </li>
      <li>
        <a href="#">Рекламные материалы и оборудование</a>
      </li>
    </ul>-->
  </div>
  <div class="content-view page-content-view news-page">
    <div class="breadcrumps">
      <a href="#">Главная</a>
      <a href="#">Новости</a>
      <a >28.02.2015</a>
    </div>

    <h1>Заголовок новости с картинкой</h1>
    <div class="sidebar right-sidebar">
      <img style="display: none" class="banner" src="<%= asset_path "text/banner1.png" %>">
    </div>
    <div class="content-view page-block-content-view">
      <div class="news-item">
        <img class="left" src="<%= asset_path('text/meadows.png') %>" />
        <p>
          Мы предлагаем лучший чай буквально со всех концов света. Это разнообразные чаи европейской фасовки, в том
          числе премиум-сорта, а также травяные и фруктовые смеси. У нас продается классический индийский и цейлонский
          чай с известных плантаций.
        </p>
        <p>
          Африканский чай представлен разнообразными коллекциями ройбуш и черным кенийским чаем. Огромный выбор
          китайских чаев позволит приобрести различные сорта зеленого и черного чая, оолонги, чай пу-эр, уникальные
          цветочные и элитные виды чая. В интернет магазине имеется также мате различных видов из Южной Америки.
        </p>
        <p>
          Мы предлагаем лучший чай буквально со всех концов света. Это разнообразные чаи европейской фасовки, в том
          числе премиум-сорта, а также травяные и фруктовые смеси. У нас продается классический индийский и цейлонский
          чай с известных плантаций.  Мы предлагаем лучший чай буквально со всех концов света. Это разнообразные чаи
          европейской фасовки, в том числе премиум-сорта, а также травяные и фруктовые
        </p>
        <p>
          У нас продается классический индийский и цейлонский чай с известных плантаций. Африканский чай представлен
          разнообразными коллекциями ройбуш и черным кенийским чаем. Огромный выбор китайских чаев позволит приобрести
          различные сорта зеленого и черного чая, оолонги, чай пу-эр, уникальные цветочные и элитные виды чая. В
          интернет магазине имеется также мате различных видов из Южной Америки.
        </p>
        <p>
          Мы предлагаем лучший чай буквально со всех концов света. Это разнообразные чаи европейской фасовки, в том
          числе премиум-сорта, а также травяные и фруктовые смеси. У нас продается классический индийский и цейлонский
          чай с известных плантаций.  Мы предлагаем лучший чай буквально со всех концов света. Это разнообразные чаи
          европейской фасовки, в том числе премиум-сорта, а также травяные и фруктовые
        </p>
        <p>
          Африканский чай представлен разнообразными коллекциями ройбуш и черным кенийским чаем. Огромный выбор
          китайских чаев позволит приобрести различные сорта зеленого и черного чая, оолонги, чай пу-эр, уникальные
          цветочные и элитные виды чая. В интернет магазине имеется также мате различных видов из Южной Америки.
        </p>
        <p>
          Мы предлагаем лучший чай буквально со всех концов света. Это разнообразные чаи европейской фасовки, в том
          числе премиум-сорта, а также травяные и фруктовые смеси. У нас продается классический индийский и цейлонский
          чай с известных плантаций.  Мы предлагаем лучший чай буквально со всех концов света. Это разнообразные чаи
          европейской фасовки, в том числе премиум-сорта, а также травяные и фруктовые
        </p>
        <img class="" src="<%= asset_path('text/teapot.png') %>" />
      </div>
      <div class="separator"></div>
      <div class="navigation arrows-only">
        <a href="" title="предидущая новость">&nbsp;</a>
        <a class="disabled" title="следующая новость">&nbsp;</a>
      </div>
    </div>
  </div>
