<div class="sidebar">
  <form class="flex-box leftside-filter" action="#" name="">
    <div class="">
      <ul class="property-values">
        <li>Способ обработки</li>
        <li>
          <input type="checkbox" name="1">
          <label for="1">Черный</label>
        </li>
        <li>
          <input type="checkbox" name="2">
          <label for="2">Зеленый</label>
        </li>
        <li>
          <input type="checkbox" name="3">
          <label for="3">Красный</label>
        </li>
      </ul>
      <ul class="property-values">
        <li>Степень качества</li>
        <li>
          <input type="checkbox" name="4">
          <label for="4">BOP</label>
        </li>
        <li>
          <input type="checkbox" name="5">
          <label for="5">FOP</label>
        </li>
        <li>
          <input type="checkbox" name="6">
          <label for="6">GFOP</label>
        </li>
        <li>
          <input type="checkbox" name="7">
          <label for="7">OP</label>
        </li>
      </ul>
      <ul class="property-values">
        <li>География</li>
        <li>
          <input type="checkbox" name="8">
          <label for="8">Африканский</label>
        </li>
        <li>
          <input type="checkbox" name="9">
          <label for="9">Европейский</label>
        </li>
        <li>
          <input type="checkbox" name="10">
          <label for="10">Индийский</label>
        </li>
        <li>
          <input type="checkbox" name="11">
          <label for="11">Китайский</label>
        </li>
        <li>
          <input type="checkbox" name="12">
          <label for="12">Цейлонский</label>
        </li>
      </ul>
      <ul class="property-values">
        <li>Вкусовые характеристики</li>
        <li>
          <input type="checkbox" name="13">
          <label for="13">С ароматом жасмина</label>
        </li>
      </ul>

      <ul class="property-values">
        <li>География</li>
        <li>
          <input type="checkbox" name="13">
          <label for="12">Ананас</label>
        </li>
        <li>
          <input type="checkbox" name="14">
          <label for="14">Апельсин</label>
        </li>
        <li>
          <input type="checkbox" name="15">
          <label for="15">Вишня</label>
        </li>
        <li>
          <input type="checkbox" name="16">
          <label for="16">Гибискус</label>
        </li>
        <li>
          <input type="checkbox" name="17">
          <label for="17">Жасмин</label>
        </li>
        <li>
          <input type="checkbox" name="18">
          <label for="18">Женьшень</label>
        </li>
        <li>
          <input type="checkbox" name="19">
          <label for="19">Земляника</label>
        </li>
        <li>
          <input type="checkbox" name="20">
          <label for="20">Календула</label>
        </li>
        <li>
          <input type="checkbox" name="21">
          <label for="21">Клубника</label>
        </li>
        <li>
          <input type="checkbox" name="22">
          <label for="22">Клюква</label>
        </li>
        <li>
          <input type="checkbox" name="23">
          <label for="23">Липа</label>
        </li>
        <li>
          <input type="checkbox" name="24">
          <label for="24">Мате</label>
        </li>

        <li>
          <input type="checkbox" name="25">
          <label for="25">Земляника</label>
        </li>
        <li>
          <input type="checkbox" name="26">
          <label for="26">Календула</label>
        </li>
        <li>
          <input type="checkbox" name="27">
          <label for="27">Клубника</label>
        </li>
        <li>
          <input type="checkbox" name="28">
          <label for="28">Клюква</label>
        </li>
        <li>
          <input type="checkbox" name="29">
          <label for="29">Липа</label>
        </li>
        <li>
          <input type="checkbox" name="30">
          <label for="30">Мате</label>
        </li>
        <li>
          <input type="checkbox" name="31">
          <label for="31">Земляника</label>
        </li>
        <li>
          <input type="checkbox" name="32">
          <label for="32">Календула</label>
        </li>

      </ul>
      <ul class="property-values">
        <li>Добавки</li>
        <li>
          <input type="checkbox" name="35">
          <label for="35">Травы</label>
        </li>
        <li>
          <input type="checkbox" name="36">
          <label for="36">Цветы</label>
        </li>
        <li>
          <input type="checkbox" name="37">
          <label for="37">Фрукты</label>
        </li>
      </ul>
    </div>
    <!-- /right filter column-->
    <!--<span class="filter_results">
      Найдено <span>13</span> товаров
    </span>-->
    <input type="button" class="filter-button" name="filter-button" value="Найти">
  </form>

  <ul class="vertical-menu">
    <li>
      <a href="#">Весовой чай</a>
    </li>
    <li>
      <a href="#">Фасованый чай</a>
    </li>
    <li>
      <a href="#">Кофе</a>
    </li>
    <li>
      <a href="#">Сладости</a>
    </li>
    <li>
      <a href="#">Рекламные материалы и оборудование</a>
    </li>
  </ul>

</div>
<div class="content-view page-content-view section-page">
<div class="breadcrumps">
  <a href="#">Главная</a>
  <a href="#">Каталог</a>
</div>


<div class="header-holder">
  <h1>Каталог товаров</h1>
  <h2>Чайная коллекция</h2>
  <div class="count">1290 товаров</div>
</div>
<div class="sections-block">
  <a href="#">Африканский чай</a>
  <a href="#">Вьетнамский чай NEW</a>
  <a href="#">Европейский чай, напитки</a>
  <a href="#">Индийский чай</a>
  <a href="#">Индонезийский чай NEW</a>
  <a href="#">Китайский чай</a>
  <a href="#">Цейлонский чай</a>
  <a href="#">Южноамериканский чай</a>
</div>
<div class="flex-items-list float-view">

<div class="flex-item-holder">
  <div class="flex-item">
    <div class="top" style="background-image: url(/assets/item/00521404.jpg)">
      <div class="name">Ассорти молотый</div>
      <div class="articul">Артикул: 00521404</div>
      <div class="marks">
        <div class="is-new">
          <div class="tip new-tip">
            Новый товар
          </div>
        </div>
        <div class="is-for-sale">
          <div class="tip sale-tip">
            Распродажа
          </div>
        </div>
      </div>
      <div class="cover"></div>
      <div class="wishlist-icon">
        <div class="tip wishlist-tip">
          Уже нравится
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="price">
        <div class="note">
          за штуку
        </div>
        <div class="value ruble">5'410</div>

      </div>

      <div class="buy">
        <button class="add-to-cart">0</button>
      </div>
      <!--<div class="amount">
        <div class="note">
          кол-во
        </div>
        <i class="minus"></i>
        <input type="text" name="count" value="1">
        <i class="plus"></i>
      </div>-->
    </div>
    <div class="extra">
      <ul>
        <li>Вес нетто — 1,8 Кг</li>
        <li>Вид упаковки — пакет</li>
        <li>В развес не продается!</li>
        <li class="price"><span class="value">117</span> за 100 гр</li>
        <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
      </ul>
    </div>
  </div>
</div>
<div class="flex-item-holder">
  <div class="flex-item">
    <div class="top" style="background-image: url(/assets/item/06011962.jpg)">
      <div class="name">Граф Калиостро</div>
      <div class="articul">Артикул: 06011962</div>
      <div class="marks">
        <div class="is-new">
          <div class="tip new-tip">
            Новый товар
          </div>
        </div>
        <div class="is-for-sale">
          <div class="tip sale-tip">
            Распродажа
          </div>
        </div>
      </div>
      <div class="cover" style="background-image: url(/assets/item/06011962-s.jpg)"></div>
      <div class="wishlist-icon">
        <div class="tip wishlist-tip">
          Уже нравится
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="price">
        <div class="note">
          за 1.8кг
        </div>
        <div class="value ruble">9'410</div>

      </div>

      <div class="buy">
        <button class="buy-button">0</button>
      </div>

    </div>
    <div class="extra">
      <ul>
        <li>Вес нетто — 1,8 Кг</li>
        <li>Вид упаковки — пакет</li>
        <li>В развес не продается!</li>
        <li class="price"><span class="value">117</span> за 100 гр</li>
        <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
      </ul>
    </div>
  </div>
</div>
<div class="flex-item-holder">
  <div class="flex-item">
    <div class="top" style="background-image: url(/assets/item/03035402.jpg)">
      <div class="name">Земляничная лакомка</div>
      <div class="articul">Артикул: 03035402</div>
      <div class="marks">
        <div class="is-new">
          <div class="tip new-tip">
            Новый товар
          </div>
        </div>
        <div class="is-for-sale">
          <div class="tip sale-tip">
            Распродажа
          </div>
        </div>
      </div>
      <div class="cover" style="background-image: url(/assets/item/03035402-s.jpg)"></div>
      <div class="wishlist-icon in-favorites">
        <div class="tip wishlist-tip">
          Мне нравится
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="price">
        <div class="note">
          за 1.8кг
        </div>
        <div class="value ruble">9'410</div>

      </div>

      <div class="buy">
        <button class="buy-button">0</button>
      </div>

    </div>
    <div class="extra">
      <ul>
        <li>Вес нетто — 1,8 Кг</li>
        <li>Вид упаковки — пакет</li>
        <li>В развес не продается!</li>
        <li class="price"><span class="value">117</span> за 100 гр</li>
        <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
      </ul>
    </div>
  </div>
</div>
<div class="flex-item-holder">
  <div class="flex-item">
    <div class="top" style="background-image: url(/assets/item/20897009.jpg)">
      <div class="name">Набор чайный “Мемуары гейши”</div>
      <div class="articul">Артикул: 20897009</div>
      <div class="marks">
        <div class="is-new">
          <div class="tip new-tip">
            Новый товар
          </div>
        </div>
        <div class="is-for-sale">
          <div class="tip sale-tip">
            Распродажа
          </div>
        </div>
      </div>
      <div class="cover"></div>
      <div class="wishlist-icon in-favorites">
        <div class="tip wishlist-tip">
          Мне нравится
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="price">
        <div class="note">
          за штуку
        </div>
        <div class="value ruble">9'410</div>

      </div>

      <div class="buy">
        <button class="buy-button in-cart">3</button>
      </div>

    </div>
    <div class="extra">
      <ul>
        <li>Вес нетто — 1,8 Кг</li>
        <li>Вид упаковки — пакет</li>
        <li>В развес не продается!</li>
        <li class="price"><span class="value">117</span> за 100 гр</li>
        <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
      </ul>
    </div>
  </div>
</div>
<div class="flex-item-holder">
  <div class="flex-item">
    <div class="top" style="background-image: url(/assets/item/06111945.jpg)">
      <div class="name">Имбирный апельсин</div>
      <div class="articul">Артикул: 06111945</div>
      <div class="marks">
        <div class="is-new">
          <div class="tip new-tip">
            Новый товар
          </div>
        </div>
        <div class="is-for-sale">
          <div class="tip sale-tip">
            Распродажа
          </div>
        </div>
      </div>
      <div class="cover" style="background-image: url(/assets/item/06111945-s.jpg)"></div>
      <div class="wishlist-icon in-favorites">
        <div class="tip wishlist-tip">
          Мне нравится
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="price">
        <div class="note">
          за 1.8кг
        </div>
        <div class="value ruble">9'410</div>

      </div>

      <div class="buy">
        <button class="buy-button in-cart">1</button>
      </div>

    </div>
    <div class="extra">
      <ul>
        <li>Вес нетто — 1,8 Кг</li>
        <li>Вид упаковки — пакет</li>
        <li>В развес не продается!</li>
        <li class="price"><span class="value">117</span> за 100 гр</li>
        <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
      </ul>
    </div>
  </div>
</div>
<div class="flex-item-holder">
  <div class="flex-item">
    <div class="top" style="background-image: url(/assets/item/06077003.jpg)">
      <div class="name">Мед “Цветочный”</div>
      <div class="articul">Артикул: 06077003</div>
      <div class="marks">
        <div class="is-new">
          <div class="tip new-tip">
            Новый товар
          </div>
        </div>
        <div class="is-for-sale">
          <div class="tip sale-tip">
            Распродажа
          </div>
        </div>
      </div>
      <div class="cover"></div>
      <div class="wishlist-icon in-favorites">
        <div class="tip wishlist-tip">
          Мне нравится
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="price">
        <div class="note">
          за штуку
        </div>
        <div class="value ruble">9'410</div>

      </div>

      <div class="buy">
        <button class="buy-button">0</button>
      </div>

    </div>
    <div class="extra">
      <ul>
        <li>Вес нетто — 1,8 Кг</li>
        <li>Вид упаковки — пакет</li>
        <li>В развес не продается!</li>
        <li class="price"><span class="value">117</span> за 100 гр</li>
        <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
      </ul>
    </div>
  </div>
</div>


</div>
<h2>Tea Time</h2>
<div class="sections-block">
  <a href="#">Африканский чай</a>
  <a href="#">Европейский чай, напитки</a>
</div>
<div class="flex-items-list float-view">

    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/00521404.jpg)">
          <div class="name">Ассорти молотый</div>
          <div class="articul">Артикул: 00521404</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover"></div>
          <div class="wishlist-icon">
            <div class="tip wishlist-tip">
              Уже нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за штуку
            </div>
            <div class="value ruble">5'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/06011962.jpg)">
          <div class="name">Граф Калиостро</div>
          <div class="articul">Артикул: 06011962</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover" style="background-image: url(/assets/item/06011962-s.jpg)"></div>
          <div class="wishlist-icon">
            <div class="tip wishlist-tip">
              Уже нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за 1.8кг
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button in-cart">1</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/03035402.jpg)">
          <div class="name">Земляничная лакомка</div>
          <div class="articul">Артикул: 03035402</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover" style="background-image: url(/assets/item/03035402-s.jpg)"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за 1.8кг
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/20897009.jpg)">
          <div class="name">Набор чайный “Мемуары гейши”</div>
          <div class="articul">Артикул: 20897009</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за штуку
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/06111945.jpg)">
          <div class="name">Имбирный апельсин</div>
          <div class="articul">Артикул: 06111945</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover" style="background-image: url(/assets/item/06111945-s.jpg)"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за 1.8кг
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-item-holder">
      <div class="flex-item">
        <div class="top" style="background-image: url(/assets/item/06077003.jpg)">
          <div class="name">Мед “Цветочный”</div>
          <div class="articul">Артикул: 06077003</div>
          <div class="marks">
            <div class="is-new">
              <div class="tip new-tip">
                Новый товар
              </div>
            </div>
            <div class="is-for-sale">
              <div class="tip sale-tip">
                Распродажа
              </div>
            </div>
          </div>
          <div class="cover"></div>
          <div class="wishlist-icon in-favorites">
            <div class="tip wishlist-tip">
              Мне нравится
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="price">
            <div class="note">
              за штуку
            </div>
            <div class="value ruble">9'410</div>

          </div>

          <div class="buy">
            <button class="buy-button">0</button>
          </div>

        </div>
        <div class="extra">
          <ul>
            <li>Вес нетто — 1,8 Кг</li>
            <li>Вид упаковки — пакет</li>
            <li>В развес не продается!</li>
            <li class="price"><span class="value">117</span> за 100 гр</li>
            <li>1'360 руб/кг х 1,8 кг = 2'448.00 руб/пакет</li>
          </ul>
        </div>
      </div>
    </div>
</div>
<div class="separator"></div>
<div class="sidebar right-sidebar">

  <h2 class="sidebar-header">
    Новости
    <a href="#">все</a>
  </h2>
  <ul>
    <li>
      <a href="#" class="item-header">Новинки асортимента</a>
      <div class="item-preview">
        Уважаемые клиенты!<br />
        Информируем вас о том, что на ряд позиций из ассортимента весового чая действует скидка 15%.
      </div>
      <div class="date">17.12.2014</div>
    </li>
    <li>
      <a href="#" class="item-header">Новинки асортимента</a>
      <div class="item-preview">
        Уважаемые клиенты!<br />
        Информируем вас о том, что на ряд позиций из ассортимента весового чая действует скидка 15%.
      </div>
      <div class="date">17.12.2014</div>
    </li>
    <li>
      <a href="#" class="item-header">Новинки асортимента</a>
      <div class="item-preview">
        Уважаемые клиенты!<br />
        Информируем вас о том, что на ряд позиций из ассортимента весового чая действует скидка 15%.
      </div>
      <div class="date">17.12.2014</div>
    </li>
  </ul>
  <h2 class="sidebar-header">
    Награды
    <a href="#">все</a>
  </h2>
  <ul class="honors">
    <li>
      <a href="#" class="item-header">
        <img align="middle" src="<%= asset_path('honors/honor1.png')%>" />
        <p>Новинки асортимента</p>
      </a>

    </li>
    <li>
      <a href="#" class="item-header">
        <img src="<%= asset_path('honors/honor2.png')%>" />
        <p>Новинки асортимента</p>
      </a>

    </li>
    <li>
      <a href="#" class="item-header">
        <img src="<%= asset_path('honors/honor3.png')%>" />
        <p>Новинки асортимента</p>
      </a>

    </li>
  </ul>
</div>
<div class="content-view page-block-content-view">
  <p>
    Приобрести чай, кофе и сопутствующие товары от «Русской чайной компании» очень просто в нашем интернет магазине. Вас ждут доступные цены, удобные условия доставки и отлаженный алгоритм работы.
  </p>
  <p>
    «Русская чайная компания» является одним из лидеров на российском рынке чая и кофе, поэтому работая с нами, вы получите неизменно качественный продукт и выбор среди сотен наименований товаров. В нашем интернет магазине вы найдете самый большой ассортимент чаев и чайных аксессуаров.
  </p>
  <p>
    Мы предлагаем как розничную, так и оптовую продажу чая, кофе, посуды и сопутствующих товаров. Если вы владелец чайного магазина, кофейни, ресторана или отеля, у нас вы сможете найти все необходимое для того, чтобы обеспечить свой бизнес качественными чаем и кофе. Чайные и кофейные коллекции высокого качества и возможность приобрести товар в любом регионе России делают работу с нами выгодной и удобной.
  </p>
  <p>У нас можно купить</p>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>
  <h2>Широкий выбор чая</h2>
  <p>
    Мы предлагаем лучший чай буквально со всех концов света. Это разнообразные чаи европейской фасовки, в том числе премиум-сорта, а также травяные и фруктовые смеси. У нас продается классический индийский и цейлонский чай с известных плантаций. Африканский чай представлен разнообразными коллекциями ройбуш и черным кенийским чаем. Огромный выбор китайских чаев позволит приобрести различные сорта зеленого и черного чая, оолонги, чай пу-эр, уникальные цветочные и элитные виды чая. В интернет магазине имеется также мате различных видов из Южной Америки.
  </p>
  <p>
    Вы можете купить не только практически любой вид чая, но и эксклюзивные сорта редких чайных коллекций.
    Помимо весового мы предлагаем разнообразный фасованный чай различного веса – в стеклянных и жестяных банках,
    в фильтр-пакетах, в подарочных упаковках, а также прессованный чай.
  </p>
</div>
</div>
