.float-view.one-line{
    &.flex-items-list{
        .flex-item-holder{
            width: 19%;
            @include items-width-scalable(mobile) { width: 48% ;}
            @include items-width-scalable(small-screens) { width: 32%; &:nth-child(n+4){display: none}}
            @include items-width-scalable(medium-screens) { width: 24%; &:nth-child(n+5){display: none} }
            @include items-width-scalable(wide-screens) { width: 19%; &:nth-child(n+6){display: none}}

        }
    }
}
.full-width-view{
    &.flex-items-list{
        .flex-item-holder{
            width: 15.5%;
            @include items-width-scalable(mobile) { width: 33% ;}
            @include items-width-scalable(small-screens) { width: 24%; }
            @include items-width-scalable(medium-screens) { width: 19%;  }
            @include items-width-scalable(wide-screens) { width: 15.5%; }

        }
    }
}