.sort-holder{
    height: 38px;
    padding-right: 8px;
    font-size: 14px;
    .sort-holder-select{
        float: right;
    }
    >span{
        line-height: 36px;
        margin-right: 6px;
    }
}