body.inner{
    .content-holder{
        .content-view{
            &.honors-list-page{
                .right-sidebar{
                    h2.sidebar-header{
                        margin-top: 20px;
                    }
                }
                .year{
                    margin-top: 8px;
                    position: relative;
                    padding-left: 80px;
                    @media screen and (max-width: 1070px) {
                        padding-left: 0;
                    }
                    &.single_year{
                        margin-top: 25px;
                    }
                    img.small{
                        width: 128px;
                        height: 128px;
                        margin-top: 5px;
                    }
                    >i{
                        position: absolute;
                        left: 15px;
                        top: 36px;
                        color: #fff;
                        font-size: 24px;
                        @extend %bruskovaya;
                    }
                    &:after{
                        content: '';
                        display: table;
                        clear: both;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        left: 0;
                        top: 15px;
                        @extend .sprite-common-honor-year;
                    }
                    &.current{
                        &:before{
                            background: none;

                        }
                        padding-left: 0;
                    }
                    img{
                        margin: 15px 0 0 0;

                    }
                    .left{
                        position: relative;
                        float: left;
                        margin-right: 15px;
                        margin-bottom: 15px;
                        margin-top: 10px;
                        div{
                            @include tip();
                        }
                        &:hover{
                            div{
                                display: block;
                            }
                        }
                    }
                    p:first-child{
                        margin-top: 0;
                        padding-top: 0;
                    }
                    /*p:after{
                        content: '';
                        display: table;
                        clear: both;
                    } */
                    @media screen and (max-width: 1300px) {
                        .second-in-a-row{
                            +h3{
                                clear: both;
                            }
                        }
                        .narrow{
                            clear: both;
                        }
                    }
                    @media screen and (max-width: 1070px) {
                        .left{
                            margin-left: auto;
                            margin-right: auto;
                            display: block;
                            float: none;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}