/* line 17, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 90, sprites/sprite-shape-horizontal/*.png */
.sprite-shape-horizontal-sprite, .sprite-shape-horizontal-pattern-left-no-shade-no-stroke, .sprite-shape-horizontal-pattern-left-no-shade, .sprite-shape-horizontal-pattern-left-right-no-stroke, .sprite-shape-horizontal-pattern-left-right, .sprite-shape-horizontal-pattern-menu-left-right, .sprite-shape-horizontal-pattern-right-no-shade, .sprite-shape-horizontal-white-left-right {
  background: url('../images/sprites/sprite-shape-horizontal-s89d25c5a4d.png') no-repeat;
}

/* line 154, sprites/sprite-shape-vertical/*.png */
.sprite-shape-vertical-sprite, .sprite-shape-vertical-pattern-corner-lb-menu, .sprite-shape-vertical-pattern-corner-lb-partial-shade, .sprite-shape-vertical-pattern-corner-lt-partial-shade, .sprite-shape-vertical-pattern-corner-no-stroke, .sprite-shape-vertical-pattern-corner-rb-menu, .sprite-shape-vertical-pattern-corner, .sprite-shape-vertical-pattern-menu-top-bottom, .sprite-shape-vertical-pattern-top-bottom-no-stroke, .sprite-shape-vertical-pattern-top-bottom, .sprite-shape-vertical-white-corner-lb, .sprite-shape-vertical-white-corner-lt, .sprite-shape-vertical-white-corner-rb, .sprite-shape-vertical-white-corner-rt, .sprite-shape-vertical-white-corner, .sprite-shape-vertical-white-top-bottom {
  background: url('../images/sprites/sprite-shape-vertical-s15e8054c74.png') no-repeat;
}

/* line 258, sprites/sprite-common/*.png */
.sprite-common-sprite, .sprite-common-arrow-down, .sprite-common-basket-bottom, .sprite-common-basket-count-holder, .sprite-common-basket-icon, .sprite-common-icon-add-to-cart, .flex-items-list .flex-item-holder .flex-item .bottom .buy button, .sprite-common-icon-add-to-wishlist-h, .flex-items-list .flex-item-holder .flex-item .top .wishlist-icon:hover, .sprite-common-icon-add-to-wishlist, .flex-items-list .flex-item-holder .flex-item .top .wishlist-icon, .sprite-common-icon-already-in-favorites, .flex-items-list .flex-item-holder .flex-item .top .wishlist-icon.in-favorites, .sprite-common-icon-bag, .c > .link-list > li .link-list-header.shop-header, .sprite-common-icon-cart, .c > .link-list > li .link-list-header.wholesale-header, .sprite-common-icon-home, .sprite-common-icon-key, .sprite-common-icon-login, .sprite-common-icon-man, .c > .link-list > li .link-list-header.partnership-header, .sprite-common-icon-moneybag, .sprite-common-icon-new, .flex-items-list .flex-item-holder .flex-item .top .is-new, .sprite-common-icon-paper, .sprite-common-icon-sale, .flex-items-list .flex-item-holder .flex-item .top .is-for-sale, .sprite-common-icon-search, .search-input-holder:after, .sprite-common-icon-wallet, .sprite-common-item-pic, .sprite-common-logo, .sprite-common-menu-item-left-shadow, .menu-wrapper .menu .menu-holder ul.menu-block li.active > a:before, .sprite-common-menu-item-right-shadow, .menu-wrapper .menu .menu-holder ul.menu-block li.active > a:after, .sprite-common-minus, .flex-items-list .flex-item-holder .flex-item .bottom .amount i.minus, .sprite-common-pack, .sprite-common-plus, .flex-items-list .flex-item-holder .flex-item .bottom .amount i.plus, .sprite-common-town-select, .town-select-block .town-select {
  background: url('../images/sprites/sprite-common-s9d4d800f4e.png') no-repeat;
}

/* line 1, ../scss/_parallax.scss */
#layout {
  width: 100%;
  max-width: 2000px;
  min-width: 980px;
  height: 4500px;
  position: relative;
  background: url('../images/cloud.png?1414075083'), url('../images/cloud.png?1414075083'), url('../images/towers.png?1414072955'), url('../images/sky.png?1414074554'), url('../images/bg.png?1414073842'), -webkit-gradient(linear, to right, to left, color-stop(0%, #94694f), color-stop(44%, #ffdec2), color-stop(56%, #ffdec2), color-stop(100%, #94694f));
  background: url('../images/cloud.png?1414075083'), url('../images/cloud.png?1414075083'), url('../images/towers.png?1414072955'), url('../images/sky.png?1414074554'), url('../images/bg.png?1414073842'), -webkit-linear-gradient(to right, #94694f 0%, #ffdec2 44%, #ffdec2 56%, #94694f 100%);
  background: url('../images/cloud.png?1414075083'), url('../images/cloud.png?1414075083'), url('../images/towers.png?1414072955'), url('../images/sky.png?1414074554'), url('../images/bg.png?1414073842'), -moz-linear-gradient(to right, #94694f 0%, #ffdec2 44%, #ffdec2 56%, #94694f 100%);
  background: url('../images/cloud.png?1414075083'), url('../images/cloud.png?1414075083'), url('../images/towers.png?1414072955'), url('../images/sky.png?1414074554'), url('../images/bg.png?1414073842'), -o-linear-gradient(to right, #94694f 0%, #ffdec2 44%, #ffdec2 56%, #94694f 100%);
  background: url('../images/cloud.png?1414075083'), url('../images/cloud.png?1414075083'), url('../images/towers.png?1414072955'), url('../images/sky.png?1414074554'), url('../images/bg.png?1414073842'), linear-gradient(to right, #94694f 0%, #ffdec2 44%, #ffdec2 56%, #94694f 100%);
  background-position: 50% 2000px, -50% 500px, center bottom, center top, 50% 600px, center top;
  background-repeat: no-repeat;
}
/* line 28, ../scss/_parallax.scss */
#layout #content {
  width: 980px;
  margin: 0 auto;
  border: 1px solid #000;
  height: 4000px;
  position: relative;
}
/* line 36, ../scss/_parallax.scss */
#layout .img {
  position: relative;
  left: 45%;
  top: 100px;
}
/* line 42, ../scss/_parallax.scss */
#layout path {
  fill: none;
  stroke: red;
}
/* line 47, ../scss/_parallax.scss */
#layout #bottom {
  width: 100%;
  height: 890px;
  position: absolute;
  bottom: 0;
  background: url('../images/buddah.png?1414073111') center bottom no-repeat;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-arrow-down {
  background-position: 0 -1574px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-basket-bottom {
  background-position: 0 -518px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-basket-count-holder {
  background-position: 0 -956px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-basket-icon {
  background-position: 0 -797px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-add-to-cart, .flex-items-list .flex-item-holder .flex-item .bottom .buy button {
  background-position: 0 -750px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-add-to-wishlist-h, .flex-items-list .flex-item-holder .flex-item .top .wishlist-icon:hover {
  background-position: 0 -1417px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-add-to-wishlist, .flex-items-list .flex-item-holder .flex-item .top .wishlist-icon {
  background-position: 0 -1143px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-already-in-favorites, .flex-items-list .flex-item-holder .flex-item .top .wishlist-icon.in-favorites {
  background-position: 0 -1209px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-bag, .c > .link-list > li .link-list-header.shop-header {
  background-position: 0 -991px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-cart, .c > .link-list > li .link-list-header.wholesale-header {
  background-position: 0 -899px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-home {
  background-position: 0 -1539px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-key {
  background-position: 0 -1483px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-login {
  background-position: 0 -1511px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-man, .c > .link-list > li .link-list-header.partnership-header {
  background-position: 0 -1048px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-moneybag {
  background-position: 0 -1171px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-new, .flex-items-list .flex-item-holder .flex-item .top .is-new {
  background-position: 0 -699px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-paper {
  background-position: 0 -1105px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-sale, .flex-items-list .flex-item-holder .flex-item .top .is-for-sale {
  background-position: 0 -848px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-search, .search-input-holder:after {
  background-position: 0 -1387px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-icon-wallet {
  background-position: 0 -1445px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-item-pic {
  background-position: 0 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-logo {
  background-position: 0 -157px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-menu-item-left-shadow, .menu-wrapper .menu .menu-holder ul.menu-block li.active > a:before {
  background-position: 0 -1312px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-menu-item-right-shadow, .menu-wrapper .menu .menu-holder ul.menu-block li.active > a:after {
  background-position: 0 -1237px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-minus, .flex-items-list .flex-item-holder .flex-item .bottom .amount i.minus {
  background-position: 0 -1618px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-pack {
  background-position: 0 -322px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-plus, .flex-items-list .flex-item-holder .flex-item .bottom .amount i.plus {
  background-position: 0 -1593px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-common-town-select, .town-select-block .town-select {
  background-position: 0 -641px;
}

/* line 6, ../scss/header/_menu.scss */
.menu-wrapper {
  position: relative;
  z-index: 1;
}
/* line 9, ../scss/header/_menu.scss */
.menu-wrapper .menu {
  background: url('../images/menu/menu-bordered.png?1414432610') left top repeat-x;
  width: 100%;
  height: 67px;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  font-size: 18pt;
  z-index: initial;
}
/* line 20, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder {
  width: 980px;
  margin: 0 auto;
  height: 67px;
}
/* line 24, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder .logo {
  width: 187px;
  height: 150px;
  position: absolute;
  top: -75%;
}
/* line 30, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block {
  margin-left: 187px;
  padding-left: 10px;
  height: 67px;
  position: relative;
}
/* line 36, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 67px;
  padding: 0;
}
/* line 41, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li.active {
  background: url('../images/menu/menu-item-active.png?1414490473') left 5px repeat-x;
}
/* line 44, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li.active + li a {
  border: 0;
}
/* line 48, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li.active > a {
  border: 0;
}
/* line 50, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li.active > a:before {
  content: '';
  position: absolute;
  left: 0;
  top: -11px;
  width: 4px;
  height: 60px;
}
/* line 61, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li.active > a:after {
  content: '';
  position: absolute;
  right: 0;
  top: -11px;
  width: 4px;
  height: 60px;
}
/* line 72, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li.active .submenu {
  display: block;
}
/* line 77, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li a {
  display: block;
  position: relative;
  padding: 0px 25px 0 10px;
  margin: 16px 0;
  border-left: 1px dotted #54321b;
  height: 28px;
  font-size: 16pt;
  line-height: 1.2em;
  color: #54321b;
  text-decoration: none;
}
/* line 89, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li a i {
  width: 7px;
  height: 4px;
  position: absolute;
  right: 10px;
  top: 13px;
}
/* line 99, ../scss/header/_menu.scss */
.menu-wrapper .menu .menu-holder ul.menu-block li .submenu {
  display: none;
  position: absolute;
  top: 20px;
  left: -25px;
  z-index: -1;
}

/* line 112, ../scss/header/_menu.scss */
.search-input-holder {
  position: relative;
  margin-top: 14px;
  margin-left: 35px;
}
/* line 116, ../scss/header/_menu.scss */
.search-input-holder .search-input {
  width: 150px;
  height: 24px;
  border: 1px solid #4d3522;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 125, ../scss/header/_menu.scss */
.search-input-holder:after {
  content: '';
  position: absolute;
  right: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-horizontal-pattern-left-no-shade-no-stroke {
  background-position: 0 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-horizontal-pattern-left-no-shade {
  background-position: -51px 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-horizontal-pattern-left-right-no-stroke {
  background-position: -102px 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-horizontal-pattern-left-right {
  background-position: -153px 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-horizontal-pattern-menu-left-right {
  background-position: -204px 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-horizontal-pattern-right-no-shade {
  background-position: -255px 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-horizontal-white-left-right {
  background-position: -306px 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-pattern-corner-lb-menu {
  background-position: 0 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-pattern-corner-lb-partial-shade {
  background-position: 0 -144px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-pattern-corner-lt-partial-shade {
  background-position: 0 -180px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-pattern-corner-no-stroke {
  background-position: 0 -72px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-pattern-corner-rb-menu {
  background-position: 0 -36px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-pattern-corner {
  background-position: 0 -108px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-pattern-menu-top-bottom {
  background-position: 0 -216px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-pattern-top-bottom-no-stroke {
  background-position: 0 -396px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-pattern-top-bottom {
  background-position: 0 -432px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-white-corner-lb {
  background-position: 0 -252px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-white-corner-lt {
  background-position: 0 -360px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-white-corner-rb {
  background-position: 0 -324px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-white-corner-rt {
  background-position: 0 -288px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-white-corner {
  background-position: 0 -468px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-shape-vertical-white-top-bottom {
  background-position: 0 -498px;
}

/* line 6, ../scss/_shapes.scss */
.shape {
  position: relative;
  padding: 36px 36px;
  width: auto;
}
/* line 11, ../scss/_shapes.scss */
.shape .c {
  padding: 10px 10px;
}
/* line 22, ../scss/_shapes.scss */
.shape .lt,
.shape .rt,
.shape .lb,
.shape .rb,
.shape .l,
.shape .r,
.shape .t,
.shape .b {
  position: absolute;
}
/* line 28, ../scss/_shapes.scss */
.shape .lt,
.shape .lb,
.shape .l {
  left: 0px;
}
/* line 33, ../scss/_shapes.scss */
.shape .rt,
.shape .rb,
.shape .r {
  right: 0px;
}
/* line 38, ../scss/_shapes.scss */
.shape .lt,
.shape .rt,
.shape .t {
  top: 0;
}
/* line 43, ../scss/_shapes.scss */
.shape .lb,
.shape .rb,
.shape .b {
  bottom: 0;
}
/* line 46, ../scss/_shapes.scss */
.shape .lt {
  width: 36px;
  height: 36px;
}
/* line 50, ../scss/_shapes.scss */
.shape .rt {
  width: 36px;
  height: 36px;
}
/* line 56, ../scss/_shapes.scss */
.shape .rb {
  width: 36px;
  height: 36px;
}
/* line 60, ../scss/_shapes.scss */
.shape .lb {
  width: 36px;
  height: 36px;
}
/* line 65, ../scss/_shapes.scss */
.shape .l,
.shape .r {
  width: 36px;
  top: 36px;
  bottom: 36px;
  background-repeat: repeat-y;
}
/* line 73, ../scss/_shapes.scss */
.shape .t,
.shape .b {
  height: 36px;
  left: 36px;
  right: 36px;
  background-repeat: repeat-x;
}
/* line 81, ../scss/_shapes.scss */
.shape.white-shape .c, .shape.pattern-shape .c, .shape.submenu-shape .c {
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
}
/* line 92, ../scss/_shapes.scss */
.shape.white-shape .rt, .shape.pattern-shape .rt, .shape.submenu-shape .rt {
  transform: rotate(90deg);
}
/* line 94, ../scss/_shapes.scss */
.shape.white-shape .rt.sprite-shape-vertical-white-corner-rt, .shape.pattern-shape .rt.sprite-shape-vertical-white-corner-rt, .shape.submenu-shape .rt.sprite-shape-vertical-white-corner-rt {
  transform: rotate(0deg);
}
/* line 99, ../scss/_shapes.scss */
.shape.white-shape .rb, .shape.pattern-shape .rb, .shape.submenu-shape .rb {
  transform: rotate(180deg);
}
/* line 101, ../scss/_shapes.scss */
.shape.white-shape .rb.sprite-shape-vertical-pattern-corner-rb-menu, .shape.white-shape .rb.sprite-shape-vertical-white-corner-rb, .shape.pattern-shape .rb.sprite-shape-vertical-pattern-corner-rb-menu, .shape.pattern-shape .rb.sprite-shape-vertical-white-corner-rb, .shape.submenu-shape .rb.sprite-shape-vertical-pattern-corner-rb-menu, .shape.submenu-shape .rb.sprite-shape-vertical-white-corner-rb {
  transform: rotate(0deg);
}
/* line 106, ../scss/_shapes.scss */
.shape.white-shape .lb, .shape.pattern-shape .lb, .shape.submenu-shape .lb {
  transform: rotate(270deg);
}
/* line 108, ../scss/_shapes.scss */
.shape.white-shape .lb.sprite-shape-vertical-pattern-corner-lb-partial-shade, .shape.white-shape .lb.sprite-shape-vertical-pattern-corner-lb-menu, .shape.white-shape .lb.sprite-shape-vertical-white-corner-lb, .shape.pattern-shape .lb.sprite-shape-vertical-pattern-corner-lb-partial-shade, .shape.pattern-shape .lb.sprite-shape-vertical-pattern-corner-lb-menu, .shape.pattern-shape .lb.sprite-shape-vertical-white-corner-lb, .shape.submenu-shape .lb.sprite-shape-vertical-pattern-corner-lb-partial-shade, .shape.submenu-shape .lb.sprite-shape-vertical-pattern-corner-lb-menu, .shape.submenu-shape .lb.sprite-shape-vertical-white-corner-lb {
  transform: rotate(0deg);
}
/* line 116, ../scss/_shapes.scss */
.shape.white-shape .r, .shape.pattern-shape .r, .shape.submenu-shape .r {
  transform: rotate(180deg);
}
/* line 118, ../scss/_shapes.scss */
.shape.white-shape .r.sprite-shape-horizontal-pattern-right-no-shade, .shape.pattern-shape .r.sprite-shape-horizontal-pattern-right-no-shade, .shape.submenu-shape .r.sprite-shape-horizontal-pattern-right-no-shade {
  transform: rotate(0deg);
}
/* line 128, ../scss/_shapes.scss */
.shape.white-shape .b, .shape.pattern-shape .b, .shape.submenu-shape .b {
  transform: rotate(180deg);
}
/* line 130, ../scss/_shapes.scss */
.shape.white-shape .b.sprite-shape-vertical-pattern-menu-top-bottom, .shape.pattern-shape .b.sprite-shape-vertical-pattern-menu-top-bottom, .shape.submenu-shape .b.sprite-shape-vertical-pattern-menu-top-bottom {
  transform: rotate(0deg);
}

/* line 137, ../scss/_shapes.scss */
.shape.pattern-shape {
  position: relative;
  float: left;
}
/* line 140, ../scss/_shapes.scss */
.shape.pattern-shape.left {
  width: 55%;
  height: 350px;
}
/* line 144, ../scss/_shapes.scss */
.shape.pattern-shape.right {
  width: 30%;
  height: 350px;
  left: -30px;
}
/* line 149, ../scss/_shapes.scss */
.shape.pattern-shape .c {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url('../images/pattern-bg.png?1414445832');
}

/* line 154, ../scss/_shapes.scss */
.shape.submenu-shape {
  width: auto;
}
/* line 157, ../scss/_shapes.scss */
.shape.submenu-shape .c {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url('../images/pattern-bg.png?1414445832');
}

/* line 1, ../scss/_slider.scss */
#slider {
  height: 350px;
  padding: 20px 0;
  margin-top: 160px;
  margin-bottom: 20px;
  background: url('../images/slider.png?1414576492') 0 0 no-repeat;
}

/* line 1, ../scss/content/_static-content.scss */
#static-content {
  width: 104%;
}

/* line 7, ../scss/content/_static-content.scss */
.c > .link-list {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  min-height: 50px;
}
/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.c > .link-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}
/* line 48, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.c > .link-list li:first-child, .c > .link-list li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.c > .link-list li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.c > .link-list li.last {
  padding-right: 0;
}
/* line 10, ../scss/content/_static-content.scss */
.c > .link-list > li {
  width: 48%;
}
/* line 13, ../scss/content/_static-content.scss */
.c > .link-list > li .link-list-header {
  height: 42px;
  padding-left: 52px;
  font-size: 24px;
  color: #4d3522;
  line-height: 2.8em;
  margin-bottom: 15px;
}
/* line 30, ../scss/content/_static-content.scss */
.c > .link-list > li .link-list-description {
  margin-top: 15px;
  color: #816b59;
  white-space: normal;
}
/* line 37, ../scss/content/_static-content.scss */
.c > .link-list ul > li {
  float: none;
  display: block;
  padding-left: 0px;
  padding-top: 7px;
  padding-bottom: 4px;
}
/* line 38, ../scss/content/_static-content.scss */
.c > .link-list ul > li:first-child {
  float: none;
  display: block;
  padding-left: 0px;
}
/* line 52, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.c > .link-list ul > li div, .c > .link-list ul > li span, .c > .link-list ul > li applet, .c > .link-list ul > li object, .c > .link-list ul > li iframe,
.c > .link-list ul > li h1, .c > .link-list ul > li h2, .c > .link-list ul > li h3, .c > .link-list ul > li h4, .c > .link-list ul > li h5, .c > .link-list ul > li h6, .c > .link-list ul > li p, .c > .link-list ul > li blockquote, .c > .link-list ul > li pre,
.c > .link-list ul > li a, .c > .link-list ul > li abbr, .c > .link-list ul > li acronym, .c > .link-list ul > li address, .c > .link-list ul > li big, .c > .link-list ul > li cite, .c > .link-list ul > li code,
.c > .link-list ul > li del, .c > .link-list ul > li dfn, .c > .link-list ul > li em, .c > .link-list ul > li img, .c > .link-list ul > li ins, .c > .link-list ul > li kbd, .c > .link-list ul > li q, .c > .link-list ul > li s, .c > .link-list ul > li samp,
.c > .link-list ul > li small, .c > .link-list ul > li strike, .c > .link-list ul > li strong, .c > .link-list ul > li sub, .c > .link-list ul > li sup, .c > .link-list ul > li tt, .c > .link-list ul > li var,
.c > .link-list ul > li b, .c > .link-list ul > li u, .c > .link-list ul > li i, .c > .link-list ul > li center,
.c > .link-list ul > li dl, .c > .link-list ul > li dt, .c > .link-list ul > li dd, .c > .link-list ul > li ol, .c > .link-list ul > li ul, .c > .link-list ul > li li,
.c > .link-list ul > li fieldset, .c > .link-list ul > li form, .c > .link-list ul > li label, .c > .link-list ul > li legend,
.c > .link-list ul > li table, .c > .link-list ul > li caption, .c > .link-list ul > li tbody, .c > .link-list ul > li tfoot, .c > .link-list ul > li thead, .c > .link-list ul > li tr, .c > .link-list ul > li th, .c > .link-list ul > li td,
.c > .link-list ul > li article, .c > .link-list ul > li aside, .c > .link-list ul > li canvas, .c > .link-list ul > li details, .c > .link-list ul > li embed,
.c > .link-list ul > li figure, .c > .link-list ul > li figcaption, .c > .link-list ul > li footer, .c > .link-list ul > li header, .c > .link-list ul > li hgroup,
.c > .link-list ul > li menu, .c > .link-list ul > li nav, .c > .link-list ul > li output, .c > .link-list ul > li ruby, .c > .link-list ul > li section, .c > .link-list ul > li summary,
.c > .link-list ul > li time, .c > .link-list ul > li mark, .c > .link-list ul > li audio, .c > .link-list ul > li video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 55, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.c > .link-list ul > li table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 57, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.c > .link-list ul > li caption, .c > .link-list ul > li th, .c > .link-list ul > li td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 59, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.c > .link-list ul > li q, .c > .link-list ul > li blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.c > .link-list ul > li q:before, .c > .link-list ul > li q:after, .c > .link-list ul > li blockquote:before, .c > .link-list ul > li blockquote:after {
  content: "";
  content: none;
}
/* line 61, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.c > .link-list ul > li a img {
  border: none;
}
/* line 49, ../scss/content/_static-content.scss */
.c > .link-list ul > li a {
  color: #1d8dcf;
  padding-left: 25px;
}

/* line 59, ../scss/content/_static-content.scss */
.basket {
  position: absolute;
  width: 204px;
  height: 194px;
  background: url('../images/basket.png?1414579321') 0 0 no-repeat;
  right: 0px;
}
/* line 65, ../scss/content/_static-content.scss */
.basket .basket-sum {
  position: absolute;
  top: 20px;
  left: 74px;
  font-size: 26px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
}

/* line 75, ../scss/content/_static-content.scss */
.login-block {
  position: absolute;
  top: 12px;
  right: 160px;
  width: 200px;
  height: 75px;
}
/* line 81, ../scss/content/_static-content.scss */
.login-block a {
  display: block;
  padding-left: 20px;
  margin-bottom: 3px;
  color: #000;
  text-decoration: none;
}

/* line 90, ../scss/content/_static-content.scss */
.town-select-block {
  position: absolute;
  top: 8px;
  left: 220px;
  width: 390px;
  height: 43px;
}
/* line 96, ../scss/content/_static-content.scss */
.town-select-block .town-select {
  width: 206px;
  height: 43px;
  float: left;
}
/* line 102, ../scss/content/_static-content.scss */
.town-select-block .phone {
  float: left;
  margin-right: 25px;
  line-height: 2em;
  font-size: 20px;
}

/* line 2, ../scss/content/_news.scss */
.horizontal-list {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.horizontal-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 48, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.horizontal-list li:first-child, .horizontal-list li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.horizontal-list li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.horizontal-list li.last {
  padding-right: 0;
}
/* line 4, ../scss/content/_news.scss */
.horizontal-list > li {
  width: 47%;
  white-space: normal;
}
/* line 7, ../scss/content/_news.scss */
.horizontal-list > li img {
  float: left;
  margin-right: 10px;
}
/* line 11, ../scss/content/_news.scss */
.horizontal-list > li .news-content {
  padding-right: 30px;
  box-sizing: content-box;
}
/* line 14, ../scss/content/_news.scss */
.horizontal-list > li .news-content .news-header {
  color: #4d3522;
  font-size: 18pt;
}
/* line 18, ../scss/content/_news.scss */
.horizontal-list > li .news-content .news-date {
  color: #8b694d;
  font-size: 13pt;
  margin: 15px 0;
}
/* line 23, ../scss/content/_news.scss */
.horizontal-list > li .news-content .news-preview {
  color: #816b59;
  font-size: 13pt;
  height: 118px;
  overflow: hidden;
  white-space: normal;
}

/* line 3, ../scss/content/_goods.scss */
.tabs {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.tabs li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 48, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.tabs li:first-child, .tabs li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.tabs li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.tabs li.last {
  padding-right: 0;
}
/* line 5, ../scss/content/_goods.scss */
.tabs li {
  padding: 3px 15px;
}
/* line 7, ../scss/content/_goods.scss */
.tabs li a {
  display: block;
  color: #4d3522;
  font-size: 13pt;
  text-decoration: none;
  border-bottom: 1px dashed;
}
/* line 15, ../scss/content/_goods.scss */
.tabs li.active {
  padding: 3px 30px;
  background-color: #a79281;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
/* line 20, ../scss/content/_goods.scss */
.tabs li.active a {
  color: #fff;
  border: 0;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
}
/* line 26, ../scss/content/_goods.scss */
.tabs li:first-child {
  padding: 3px 15px;
  margin-right: 15px;
}

/* line 32, ../scss/content/_goods.scss */
.flex-items-list {
  *zoom: 1;
}
/* line 33, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder {
  float: left;
  position: relative;
  margin: 10px 7px;
  width: 279px;
  min-height: 328px;
}
/* line 40, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item {
  background: #fff;
  border: 1px solid #765f4d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 279px;
  text-align: center;
  vertical-align: text-top;
  display: block;
  text-align: left;
  /*@include display-flex;
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-wrap(wrap);       */
}
/* line 51, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item:hover {
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: rgba(118, 95, 77, 0.75) 0 0 25px;
  -moz-box-shadow: rgba(118, 95, 77, 0.75) 0 0 25px;
  box-shadow: rgba(118, 95, 77, 0.75) 0 0 25px;
}
/* line 55, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item:hover .extra {
  display: block;
}
/* line 60, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .extra {
  display: none;
  border-top: 1px solid #d1c9c3;
  box-sizing: border-box;
  padding: 10px;
  color: #4d3522;
  font-size: 11pt;
}
/* line 68, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .extra ul {
  list-style: none;
  color: #4d3522;
}
/* line 72, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .extra .price {
  color: #b95d39;
}
/* line 74, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .extra .price .value {
  font-size: 20pt;
}
/* line 84, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .top {
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  height: 254px;
  width: 100%;
  background-position: 1px 110px;
  background-repeat: no-repeat;
}
/* line 92, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .top .name {
  font-size: 14pt;
  color: #4d3522;
  text-decoration: none;
  padding-right: 20px;
}
/* line 98, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .top .articul {
  font-size: 11pt;
  color: #a1836a;
}
/* line 102, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .top .is-new {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 36px;
  height: 36px;
}
/* line 110, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .top .is-for-sale {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 36px;
  height: 36px;
}
/* line 118, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .top .wishlist-icon {
  width: 15px;
  height: 13px;
  position: absolute;
  right: 17px;
  top: 17px;
}
/* line 133, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom {
  height: 72px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
}
/* line 138, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom > div {
  height: 40px;
}
/* line 141, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom .note {
  font-size: 10pt;
  color: #a1836a;
  margin-bottom: 7px;
}
/* line 146, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom .price {
  float: left;
  width: 35%;
  text-align: center;
  font-size: 18pt;
  color: #765f4d;
}
/* line 152, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom .price .value {
  line-height: 18px;
}
/* line 156, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom .buy {
  float: right;
  width: 30%;
  text-align: center;
}
/* line 160, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom .buy button {
  width: 52px;
  height: 32px;
  border: none;
  outline: none;
  margin-top: 5px;
}
/* line 167, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom .buy button:hover {
  cursor: pointer;
}
/* line 172, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom .amount {
  text-align: center;
}
/* line 174, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom .amount i {
  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: middle;
}
/* line 188, ../scss/content/_goods.scss */
.flex-items-list .flex-item-holder .flex-item .bottom .amount input {
  width: 20px;
  text-align: center;
}
/* line 38, ../../../../../../.rvm/gems/ruby-2.1.2@test/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.flex-items-list:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../scss/_common.scss */
h2 {
  font-size: 24px;
  color: #4d3522;
  padding-bottom: 5px;
  margin-bottom: 25px;
  margin-top: 10px;
}
/* line 8, ../scss/_common.scss */
h2.bordered {
  border-bottom: 1px solid #4d3522;
}
