$main-picture-width: 320px;
$pack-picture-width: 120px;
body.inner {
    .content-holder {
        .content-view {
            &.item-page {
                h2{
                    padding-bottom: 12px;
                    border-bottom: 1px solid;
                    a{
                        @extend %bruskovaya;
                        font-size: 30px;
                    }
                }
                .item-holder {
                    position: relative;
                    h1{
                        border: 0;
                    }
                    .main-picture {
                        float: left;
                        width: $main-picture-width;
                        margin-right: 20px;
                        margin-bottom: 20px;
                    }
                    .pack-picture{
                        width: $pack-picture-width;
                        position: absolute;
                        left: $main-picture-width - $pack-picture-width - 22px;
                        top: 48px;
                    }
                    .item-data{
                        font-size: 13px;
                        color: #4d3522;
                        margin-bottom: 20px;
                        overflow: hidden;
                        .articul{
                            color: #a1836a;
                            margin-bottom: 10px;
                        }
                        .marks{

                            div{
                                display: inline-block;
                                vertical-align: top;
                                margin-right: 3px;
                                &.has-discount{
                                    width: 36px;
                                    height: 36px;
                                    text-align: center;
                                    line-height: 3.4em;
                                    font-size: 11px;
                                    color: #fff;
                                    @extend .sprite-common-icon-sale;
                                }
                                &.is-new{
                                    width: 36px;
                                    height: 36px;
                                    @extend .sprite-common-icon-new;
                                }
                            }
                        }
                        ul.properties{
                            margin: 15px 0;
                            @include reset-ul-styles;
                            li{}
                        }
                        .price-details{
                            margin: 22px 0;
                        }
                        .price{
                            @extend %bruskovaya;
                            .value{
                                color: #4d3522;
                                font-size: 36px;
                                display: inline-block;
                                &.ruble{
                                    position: relative;
                                    margin-right: 24px;
                                    &:after{
                                        content: '';
                                        position: absolute;
                                        width: 19px;
                                        height: 26px;
                                        right: -21px;
                                        top: 5px;
                                        @extend .sprite-common-rubl-36px;
                                    }
                                }
                            }
                            .clarification{
                                display: inline-block;
                                font-size: 24px;
                                color: #b95d39;
                                margin-right: 10px;
                            }
                            button{
                                @include cart-button-large();
                                position: relative;
                                top: -5px;
                                &.in-cart{
                                    @include cart-button-large-complete();
                                }
                            }
                        }

                    }
                    .tabs-holder{
                        margin-top: 40px;
                        width: 60%;
                        margin-left: 340px;
                    }
                    #testimonials{
                        #add_testimonial{
                            display: inline-block;
                            margin: 10px 0;
                        }
                    }
                    h3.honors-header{
                        width: 30%;
                        padding-bottom: 12px;
                        border-bottom: 1px solid #cac2bc;
                    }
                    ul.honors{
                        @include reset-ul-styles;
                        li{
                            @include reset-li-styles;
                            border: none;
                            margin: 0;
                            padding-bottom: 2px;
                            &:first-child{
                                margin-top: 6px;
                            }
                            a.item-header {
                                font-size: 22px;
                                display: table;
                                overflow: hidden;
                                margin-top: 2px;
                                margin-bottom: 2px;
                                color: #795e4a;
                                text-decoration: none;
                            }
                            a.item-header{
                                margin-top: 6px;

                            }
                            img{
                                float: left;
                                width: 73px;
                                height: 73px;
                                margin-right: 10px;
                            }
                            p{
                                display:table-cell;
                                height:100%;
                                vertical-align:middle;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}